<div class="footer">
    <div class="container clearfix">
        <a href="/" class="footer_shuiyin visible-md visible-lg col-sm-3"><img src="{if $site_config['cmslogo']} __ROOT__{$site_config['cmslogo']} {else /}__PUBLIC__images/logocms.png{/if}" width="293" height="104" /></a>
        <ul class="footer_list clearfix col-sm-9 col-xs-12">
            {volist name="cmsnav" id="vo" } {eq name="vo.pid" value="0"}
            <li class="col-sm-2 col-xs-2">
                <a href="{$vo.link|getnavlink=$vo.sid}" target="{$vo.target}" title="{$vo.alias}">
                    <i class="layui-icon">{$vo.icon}</i>{$vo.name}<span class="hidden-xs">{$vo.alias}</span>
            </li>
            {/eq} {/volist}
            <li class="col-xs-12"><a>Copyright <span class="hidden-xs"> {:$_SERVER['SERVER_NAME']}</span> {$site_config['site_title']} {$site_config['site_copyright']} {$site_config['site_icp']}<span class="hidden-xs"> 
               {$site_config['site_tongji']}
            </li>
            <li class="col-xs-12">
                <!-- 个人用户保留下面一句，谢谢 -->
                Powered by<a target="_blank" href="http://www.laysns.com/"> LaySNS v{$site_config['version']}</span></a>
            </li>
        </ul>
    </div>
</div>
<script>
    //百度推送代码
    (function() {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>