.header{
	
	padding-top: 1.5rem;
	text-align: center;
	color: white;
	box-sizing: border-box;
}
.headportrait{
	
	border-radius: 50%;
	width: 1rem;

}
#tit{
	
	width: 6rem;
	height: .8rem;
	border: 1.5px solid #293B6B;
	display: flex;
	display: -webkit-flex;/*新版本语法：chrome 21+*/
	display: flex;/*新版本语法:opera 12.1,Firefox 22+*/
	display: -webkit-box;/*老版本语法：Safari,iOS,Android browser,old Webkit browser*/
	display: -moz-box;/*老版本语法：Firefox(buggy)*/
	display: -ms-flexbox;/*混合版本语法：IE 10*/
	justify-content: space-between;
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
	border-radius: .4rem;
	
	
	
}
.section1,.section2,.section3{
	
	color:white;
	width: 1.8rem;
	display: inline-block;
	height: .8rem;
	line-height: .8rem;
	border-radius: .4rem;
	text-align: center;
	cursor: pointer;
	

}
.dianji{
	background: #3A7FFA;
	
}

.mingpian{
	
	width: 6rem;
	color: white;
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
	border-radius: .06rem;
	padding-top: 1rem;
	padding-bottom: .5rem;
	box-sizing: border-box;

	
}
.nickname{
	
	padding-top: .1rem;
	box-sizing: border-box;
	
}
.usernameear{
	
	height: .69rem;
	line-height: .69rem;
	position: relative;
	
}

.left{
	display: inline-block;
	width: .4rem;
	height: .4rem;	
	margin-left: .1rem;
	margin-right: .1rem;
}
.left img{
	width: 100%;
	
}
.username{
	display: inline-block;
	width: 1.1rem;
	height: .69rem;
	line-height: .69rem;
	position: absolute;
	top: -.1rem;
	color: #EEEEEE;
	/*border:1px solid green;*/	
}
.text{
	
	display: inline-block;
	width: 3.9rem;
	height: .39rem;
	line-height: .39rem;
	position: absolute;
	top: -.03rem;
	left: 2rem;
	/*border:1px solid green;*/	
	text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap; 
    border-bottom: 1px solid white;
	
}
.right{
	
	display: inline-block;
	width: .3rem;
	height: .3rem;	
	margin-right: .1rem;
	position: absolute;
	top: .05rem;
	left: 5.5rem;
	
	
}
.right img{
	
	width: 100%;
	
	
}
.tbody-zp{
	width: 100%;
	color: white;
	margin-top: .7rem;
	padding-bottom: .7rem;
	

}
.item{
	/*display: flex;*/
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
	margin-left: 1.5rem;
	margin-bottom: .5rem;
	text-align: center;
	padding-top: .3rem;
	padding-bottom: .3rem;
	box-sizing: border-box;	
	border-radius: 50%;
	
}
.tbody-zp div img{
	
	width: .5rem;
	height: .5rem;
	
	
}
.tbody-zp div span{
	display: block;
}

.tbody-zp div:nth-child(1){
	
	
	background: linear-gradient(#cd7af9,#9c45ef);
    background: -moz-linear-gradient(top, #cd7af9 0%, #9c45ef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cd7af9), color-stop(100%, #9c45ef));
	background: -webkit-linear-gradient(top, #cd7af9 0%, #9c45ef 100%);
	background: -o-linear-gradient(top, #cd7af9 0%, #9c45ef 100%);
	background: -ms-linear-gradient(top, #cd7af9 0%, #9c45ef 100%);
	
	
}
.tbody-zp div:nth-child(2){
	
	 background: linear-gradient(#1a99ff,#0d4fee);
    background: -moz-linear-gradient(top, #1a99ff 0%, #0d4fee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a99ff), color-stop(100%, #0d4fee));
	background: -webkit-linear-gradient(top, #1a99ff 0%, #0d4fee 100%);
	background: -o-linear-gradient(top, #1a99ff 0%, #0d4fee 100%);
	background: -ms-linear-gradient(top, #1a99ff 0%, #0d4fee 100%);
	
	
}
.tbody-zp div:nth-child(3){
	
	background: linear-gradient(#cd7af9,#9c45ef);
    background: -moz-linear-gradient(top, #cd7af9 0%, #9c45ef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cd7af9), color-stop(100%, #9c45ef));
	background: -webkit-linear-gradient(top, #cd7af9 0%, #9c45ef 100%);
	background: -o-linear-gradient(top, #cd7af9 0%, #9c45ef 100%);
	background: -ms-linear-gradient(top, #cd7af9 0%, #9c45ef 100%);
	
}
.tbody-zp div:nth-child(4){
	
	background: linear-gradient(#54d9cf,#6c76bb);
    background: linear-gradient(#54d9cf,#6c76bb);
    background: -moz-linear-gradient(top, #54d9cf 0%, #6c76bb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54d9cf), color-stop(100%, #6c76bb));
	background: -webkit-linear-gradient(top, #54d9cf 0%, #6c76bb 100%);
	background: -o-linear-gradient(top, #54d9cf 0%, #6c76bb 100%);
	background: -ms-linear-gradient(top, #54d9cf 0%, #6c76bb 100%);
	
	
}
.tbody-zp div:nth-child(5){
	
	
	 background: -moz-linear-gradient(top, #e96dfe 0%, #ac3bcd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e96dfe), color-stop(100%, #ac3bcd));
	background: -webkit-linear-gradient(top, #e96dfe 0%, #ac3bcd 100%);
	background: -o-linear-gradient(top, #e96dfe 0%, #ac3bcd 100%);
	background: -ms-linear-gradient(top, #e96dfe 0%, #ac3bcd 100%);
	
	
	
	
}




