/* 公共头部 */
.header-zp{
    width: 100%;
    height: 0.88rem;
    background-color: #101b59;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.header-zp .return{
    position: absolute;
    left: 0;
    top: 0.1rem;
    padding: 0.2rem;
}
.header-zp .return img{
    width: 0.16rem;
    height: 0.26rem;
}
.header-zp .share-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    height: 100%;
    color:#fff;
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  	align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.header-zp h3{
    text-align: center;
    font-size: 0.28rem;
    line-height: 0.88rem;
}