.lj_wrap{width: 6.9rem;margin: 0 auto;}

.details_all{padding-top: 0.88rem;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.details_all p{letter-spacing: 0.02rem;}

.details_item1 p{display: inline-block;line-height: 0.9rem;}
.details_item1 p:nth-child(1){font-size: 0.3rem;color: #fff;float: left;}
.details_item1 p:nth-child(2){font-size: 0.25rem;color: #AAAAAA;float: right;}

.details_item2{margin-top: 0.2rem;}
.details_item2 p{font-size: 0.26rem;color: #fff;}
.d_item2_title{line-height: 0.9rem;}
.d_item2_con{text-align: justify;}
.d_item2_bom{line-height: 0.9rem;}

.details_item3 p{display: block;font-size: 0.24rem;color: #fff;}
