<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>提币</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script src="__PUBLIC__/js/public/rem.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/public/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/public/base.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/home/present.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/public/alertWrap.css" />
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
	
	
	</head>

	<body>
		<!-- 最大的外套 -->
		<div class="currency_wrap">
			<!-- 头部-s -->
			<div class="header-zp">
				<span class="return" onclick="returnFun()"><img src="__PUBLIC__/images/public/return-zp@2x.png" /></span>
				<h3>提币</h3>
			</div>
			<!-- 头部-e -->
			<!-- 固定导航-s -->
			<!-- <div class="fixed_nav_wrap">
				<div class="fixed_nav">
					<div class="nav_name">
						名称
					</div>
					<div class="nav_sum">
						数量
					</div>
					<div class="nav_btn">
						状态
					</div>
				</div>
			</div> -->
			<!-- 固定导航-e -->
			<!-- 内容主体 -->
			<div class="currency">
				<!-- 列表项 -s-->
				{foreach name="list" item="v"}
				<div class="currency_list">
					<!-- 默认显示-s -->
					<div class="list_tacitly">
						<!-- 商品名称 -->
						<div class="currency_name">
							<div class="currency_name_text">
								{$v.name}
							</div>
							</div>
							<!-- 商品数量 -->
							<div class="currency_num">
									{$v.cu_num+$v.static_wallet+$v.dynamic_wallet+$v.rate_wallet}
							</div>
							<!-- 下拉菜单 -->
							<div class="pull_down">
								<img src="__PUBLIC__/images/pull-down.png">
							</div>
						</div>

						<!-- <div class="load" style="display:none">
								<div class="currency_name_text">
									暂时没有数据
								</div>
						</div>						 -->
					<!-- 默认显示-e -->
					<!-- 下拉菜单内容 -->
					<div class="pull_down_content">
						<div class="down_list">
							<p>本金</p>
							<p>{$v.cu_num}</p>
						</div>
						<div class="down_list">
							<p>收益</p>
							<p>{$v.bonus_wallet}</p>
						</div>
						<!-- <div class="down_list">
							<p>动态收益</p>
							<p>{$v.dynamic_wallet}</p>
						</div> -->
						<div class="down_list">
							<p>分红</p>
							<p>{$v.rate_wallet}</p>
						</div>
						<!-- 提取按钮 -->
					<div class="currency_box">
						<a class="currency_btn" onclick="send({$v.uid},{$v.cu_id})">提取</a>
						<a class="currency_btn" onclick="voting()">复投</a>
					 </div> 
					</div>
				</div>
					{/foreach}
					<!-- 列表项 -e -->
				
				<!-- 提取弹框-s -->
				<div class="popover">
						<div class="popover_content">
							<form class="form-horizontal" id="handleposition" method="post" onsubmit="return false;">
								<div class="popover_box clearfix">
										<span>请选择提币类型:</span>
										<span class="popover_click">请选择 </span>▼
										<ul class="ul_box popover_ul">
											<li data-index="0">请选择</li>
											<li data-index="1">本金</li>
											<li data-index="2">收益</li>
											<li data-index="3">分红</li>
										</ul>
								</div>

								<div class="popover_box clearfix">
										<input type="hidden" name="uid" id="uid" value="{$uid}">
										<input type="hidden" name="cu_id" id="cu_id" value="">
										<!-- 本金 -->
										<input type="hidden" name="cu_num" id="cu_num" value="">
										<input type="hidden" name="bonus_wallet" id="bonus_wallet" value="">
										<!-- <input type="hidden" name="dynamic_wallet" id="dynamic_wallet" value=""> -->
										<input type="hidden" name="rate_wallet" id="rate_wallet" value="">
										<input type="hidden" name="qrcode_addr" id="qrcode_addr" value="">							
									<span>提取额度:</span> <input id="popover_num" name="number" type="number" placeholder="小于50美金可提取" /><br />
									<span>转成美金:</span> <input id="popover_convert" name="popover_convert" type="number" readonly  />
								</div>
								<!--000-->
								<div class="popover_box clearfix">
									<!-- '创建一个image对象'，给canvas绘制使用 -->
									<canvas id="canvas" style="display: none;"></canvas>
									<div class="imageEchoBox">
										<span class="tipsText" style="font-size: 0.2rem !important;">请点击“选择图片”上传二维码。</span>
										<!--回显的图片-->
										<img class="preViewImg" style="display: none;" src="" onerror="javascript:this.src='__PUBLIC__/plugins/layui/images/loading-2.gif'"/>
										<!--上传图片 tyle='file'-->
										<a class="uploadFile2" href=" ">选择图片</a>
										<input class="uploadFile" type="file" onchange="UpLoad(this,1)" name="file" id="" value="1" accept="image/*"  />
					
									</div>
								</div>

								<div class="popover_box clearfix">
									<div class="lj_p_address">
										<h2> 地址:</h2><input type="text" name="wallet_addr" id="wallet_addr" value=""  />
									</div>
									<div class="lj_p_address">
										<h2>备注:</h2><input class="lj_input2" type="text" name="note"  />
									</div>
									<div class="lj_p_address">
										<h2>验证码:</h2>
										<input class="lj_input3" type="text" name="note"  />
										<button class="btn">获取验证码</button>
									</div>
									
											
									
								</div>
								<!--000-->
								
								
								<div class="popover_affirm">
									<span class="true">提取</span>
									<span class="false">取消</span>
								</div>
							</form>
						</div>
					</div>
				<!-- 提取弹框-e -->
				<!-- 复投弹框-s -->
				<div class="voting">
					<div class="voting_content">
						<form class="form-horizontal" id="handleposition" method="post" onsubmit="return false;">
							<div class="voting_box clearfix">
									<span>请选择投入类型:</span>
									<span class="voting_click">请选择  </span>▼
									
									<ul class="ul_box voting_ul">
										<li data-val="1">本金</li>
										<li data-val="2">静态收益</li>
										<li data-val="3">动态收益</li>
										<li data-val="4">分红</li>
									</ul>
							</div>
					
							<div class="voting_box clearfix">
									<input type="hidden" name="uid" id="uid" value="{$uid}">
									<input type="hidden" name="cu_id" id="cu_id" value="">
									<!-- 本金 -->
									<input type="hidden" name="cu_num" id="cu_num" value="">
									<input type="hidden" name="static_wallet" id="static_wallet" value="">
									<input type="hidden" name="dynamic_wallet" id="dynamic_wallet" value="">
									<input type="hidden" name="rate_wallet" id="rate_wallet" value="">							
								<span>提取额度:</span> <input id="voting_num" name="number" type="number"  /><br />
								<span>转成美金:</span> <input id="voting_convert" name="voting_convert" type="number" readonly  />
							</div>
							<!--000-->
							
							<div class="voting_box clearfix">
							
								<div class="lj_p_address">
									<h2>验证码:</h2>
									<input class="lj_input3" type="text" name="note"  />
									<button class="btn">获取验证码</button>
								</div>
							</div>
							<!--000-->
							
							
							<div class="voting_affirm">
								<span class="true">复投</span>
								<span class="false">取消</span>
							</div>
						</form>
					</div>
				</div>
			<!-- 复投弹框-e -->
			</div>

		</div>
		<script src="__PUBLIC__/js/public/jquery-1.8.3.min.js"></script>
		<script src="__PUBLIC__/js/public/base.js"></script>
		<script src="__PUBLIC__/js/public/publicAlert.js"></script>
		<script src="__PUBLIC__/plugins/layui/layui.js"></script>

		<script>
			//复投按钮
			function voting(){
				$('.voting').show()
			}
			
			$(function(){
               //提取按钮
				$(".popover_click").click(function(){
					$(".popover_ul").slideToggle("slow");
				});
				//复投按钮
				$(".voting_click").click(function(){
					$(".voting_ul").slideToggle("slow");
				});
				
               //提取下拉框-类型 
				$(".popover_ul>li").click(function(){
					var $li = $(this).html();
					var index =$(this).attr("data-index")
					$(".popover_box>.popover_ul").slideToggle()
					$(".popover_click").html($li)
					$(".popover_click").attr("data-id",index)
				})
				 //复投下拉框-类型 
				$(".voting_ul>li").click(function(){
					var $li = $(this).html();
					var index =$(this).attr("data-val")
					$(".voting_box>.voting_ul").slideToggle()
					$(".voting_click").html($li)
					$(".voting_click").attr("data-id",index)
			})
			})

			function send(uid,cu_id){
				var url = '/index/Index/ajaxsend/uid/'+uid+'/cu_id/'+cu_id;
				$.ajax({
					type: "POST",
					url: url,
					dataType: "json",
					error: function () {
							alert('操作失败');
					},
					success: function (data) {
						if (data.status == 1) {
								// $('#popover_convert').val(data.result);
								$('#cu_id').val(data['result']['cu_id']);
								$('#cu_num').val(data['result']['cu_num']);
								$('#bonus_wallet').val(data['result']['bonus_wallet']);
								// $('#dynamic_wallet').val(data['result']['dynamic_wallet']);
								$('#rate_wallet').val(data['result']['rate_wallet']);
								$('#wallet_addr').val(data['result']['wallet_addr']);								
								$('.popover').show();
						} else {
								alert(data.msg); 
						}
					}
				});	                
			}

			$(document).ready(function() {
				//阻止事件冒泡
				$('.popover_content').click(function(e) {
					e.stopPropagation();
				});
				//弹框确认
				$('.true').click(function() {
					$('.popover').hide();
					$('.voting').hide();
				});
				//弹框取消
				$('.false').click(function() {
					$('.popover').hide();
					$('.voting').hide();
				});
				//点击背景隐藏and清空提取金额的值
				$('.popover').click(function() {
					$(this).hide();
					$('#popover_num').val("");
					$('#popover_convert').val("");
				})
				//点击下拉列表
				$(".list_tacitly").click(function(){
			  		$(this).next().slideToggle(500)
					$(this).parent().siblings(".currency_list").children(".pull_down_content").slideUp(500)
					if(!$(this).find(".pull_down").hasClass("up")){
						$(".pull_down").removeClass("up")
						$(this).find(".pull_down").addClass("up")
					}else{
						$(this).find(".pull_down").removeClass("up")
					}
				})
			});

		function exchange(obj){
			var val=$(obj).val();
			var cu_id=$('#cu_id').val();
			var a = "{:url('Index/exchange')}"
			var url = '/index/Index/exchange/val/'+val+'/cu_id/'+cu_id;
			$.ajax({
				type: "POST",
				url: url,
				dataType: "json",
				error: function () {
                		alert('操作失败');
            	},
				success: function (data) {
					if (data.status == 1) {
							$('#popover_convert').val(data.result);
					} else {
							alert(data.msg); 
					}
				}
			});			
		}	

		layui.use(['layer','jquery','form'],function(){
			var layer = layui.layer
			, form = layui.form
			,jq = layui.jquery;
			jq('.true').click(function(){	 
				     
				    var val = $(".popover_click").attr("data-id") 
					var val1 = $(".voting_click").attr("data-id") 
					console.log(val)
					console.log(val1)
					// console.log($('#handleposition').serialize())
					var url = "{:url('Index/pick')}";
					var datas =  $('#handleposition').serialize()+'&type='+val;
					jq.getJSON(url,datas,function(data){						
							if (data.status == 1) {
									layer.msg(data.msg, {icon: 1, time: 2000}, function(){					
									window.location.reload(); 
								});
														
							}else if(data.status == 2){
								layer.msg(data.msg, {icon: 2, time: 2000}, function(){					
								// window.location.reload(); 
								});
							}else if(data.status == 3){
								layer.msg(data.msg, {icon: 2, time: 2000}, function(){					
								// window.location.reload(); 
								});
							}
							else {
									// layer.msg(data.msg, {icon: 2, anim: 0, time: 2000});
									layer.msg(data.msg, {icon: 2, time: 2000}, function(){					
									// window.location.reload(); 
									});
										// window.location.reload(); 
							}
						});
			});			
			// jq('.false').click(function(){	  
			// 	window.location.reload();
			// });		
			$(document).on("keyup",'#popover_num',function(){
				var val=$(this).val();
				var cu_id=$('#cu_id').val();
				var a = "{:url('Index/exchange')}"
				var url = '/index/Index/exchange/val/'+val+'/cu_id/'+cu_id;
				$.ajax({
					type: "POST",
					url: url,
					dataType: "json",
					// error: function () {
					// 	layer.msg('请填写提币数量', {icon: 2, time: 2000}, function(){					
					// 			window.location.reload(); 
					// 	});
					// },
					success: function (data) {
						if (data.status == 1) {
								$('#popover_rmb').val(data.result['rmb']);
								$('#popover_convert').val(data.result['usd']);
						} else {
							layer.msg("操作失败", {icon: 2, time: 2000}, function(){					
								window.location.reload(); 
							}); 
						}
					}
				});
        	})	
		});		

/*000*/
			/*上传图片*/
			function UpLoad(e) {
				console.log(444);
				/*保存 点击对应的this*/
				var that = $(e);
				if(e.files[0]) {
					/* 出现加载图片，加载图片是回显图片的位置 */
					that.siblings(".preViewImg").show();
					/* 提示文字，隐藏 */
					that.siblings(".tipsText").hide();
					/*file上传图片*/
					var f = e.files[0];
					fileType = f.type;
					if(/image\/\w+/.test(fileType)) {
						var fileReader = new FileReader();
						fileReader.readAsDataURL(f);
						fileReader.onload = function(event) {
							var result = event.target.result; //返回的dataURL 
							// console.log(result);  
							var image = new Image();
							image.src = result;
							console.log(2222)
							//若图片大小大于1M，压缩后再上传，否则直接上传  
							if(f.size > 1024 * 1024) {
								image.onload = function() {
									//创建一个image对象，给canvas绘制使用
									var canvas = document.getElementById("canvas");
									canvas.width = image.width;
									canvas.height = image.height; //计算等比缩小后图片宽高   
									var ctx = canvas.getContext('2d');
									ctx.drawImage(this, 0, 0, canvas.width, canvas.height);
									var newImageData = canvas.toDataURL(fileType, 0.8); //重新生成图片
									/* 图片 回显*/
									// that.siblings(".preViewImg").attr("src", newImageData);
									console.log(newImageData);

									$("#canvas").hide();
								}
							} else {
								//创建一个image对象，给canvas绘制使用 
								image.onload = function() {
									/*图片 回显 */
									    $.ajax({
							              url: '/index/index/upload',
							              type: 'post',
							              dataType: 'json',
							              data: {dataImg:image.src},
							              success:function(msg){
							                if(msg.code==200){
							                  $('#qrcode_addr').val(msg.imgUrl);
							                  $('.text').html('成功');
							                  // console.log(msg);
							                  layer.msg(msg.msg)
							                }else{
							                  $('.text').html('失败');
							                  layer.msg(msg.msg)
							                  return false;
							                }
							              }
							            });							
							/*ajax=> 回显图片*/
							that.siblings(".preViewImg").attr("src", result);
								}
							}				
							/*ajax=> 回显图片*/
							// that.siblings(".preViewImg").attr("src", result);

							
						}
					} else {
						alert("请选择图片");
					}

				} else {
					console.log('取消选择图片！');
				}
			}
			
			/* 确认 */
			$('.popover_affirm .true').on('click', function() {
				/*存储，base64*/
				// var arrImgUrl = '';
				// if($('.imageEchoBox .preViewImg').eq(0).attr('src').indexOf('base64') == -1 ) {
				// 	console.log('请上传二维码！');
				// 	/*对话框*/
				// 	suredAlert($('body'),'请上传二维码！');
				// 	return false;
				// }
				// arrImgUrl = $('.preViewImg').eq(0).attr('src');
				// console.log(arrImgUrl);

				// var arrImgUrl = '';
				// if($('.imageEchoBox .preViewImg').eq(0).attr('src').indexOf('base64') == -1 ) {
				// 	console.log('请上传二维码！');
				// 	/*对话框*/
				// 	suredAlert($('body'),'请上传二维码！');
				// 	$('.popover').hide();
				// 	return false;
				// }
				// arrImgUrl = $('.preViewImg').eq(0).attr('src');
				// console.log(arrImgUrl);
				$('.popover').hide();
			})
			/*000*/

		</script>
	</body>

</html>