<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>消息详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<script src="__PUBLIC__/js/public/rem.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/news_details.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/public/base.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/public/reset.css">
	</head>
	<body>
		<!-- 头部 -->
		<div class="header-zp">
			<span class="return" onclick="returnFun()"><img src="__PUBLIC__/images/public/return-zp@2x.png" /></span>
			<h3>消息详情</h3>
		</div>
		
		<div class="details_all">
			<div class="lj_wrap">
				<div class="details_item1 clearfix">
					<p>{$res['title']}</p>
					<p>{$res['updatetime']|date="Y-m-d",###}</p>
				</div>
				<div class="details_item2">
					<div class="d_item2_title">
						<p>尊敬的{if $arr eq true}{$arr['username']}{else /}{/if}用户:</p>
					</div>
					<div class="d_item2_con">
						<p>{$res['content']}</p>
					</div>
					<div class="d_item2_bom">
						<p>感谢{if $arr eq true}{$arr['username']}用户{else /}您{/if}的大力支持。</p>
					</div>
				</div>
				<div class="details_item3">
					<p>{if $arr eq true}{$arr['username']}{else /}尊敬的用户{/if}</p>
					<p>{$res['updatetime']|date="Y-m-d",###}</p>
				</div>
				
				
			</div>
		</div>
		
		
    	<script src="__PUBLIC__/js/public/jquery-1.8.3.min.js"></script>
		
		<script src="__PUBLIC__/js/base.js"></script>
		
	</body>
</html>
