<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>我的消息</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script src="__PUBLIC__/js/public/rem.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/my_message.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/public/base.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/public/reset.css">

	</head>

	<body>
		<div class="header-zp">
			<span class="return" onclick="returnFun()"><img src="__PUBLIC__/images/public/return-zp@2x.png" /></span>
			<h3>我的消息</h3>
			<!-- <span class="share-btn"><img src="../image/public/share-btn-zp.png" /></span> -->
		</div>
		<div class="wtf_top">
			<div class="wtf_wrap">
				<div class="wtf_item">
					<!--循环-->
					{foreach name="res" item="vo"}
					<div class="wtf_item1" onclick="window.location.href = '{:url('index/news_details',[\'id\'=>$vo[\'id\']])}'">
						<p>{$vo['title']}</p>
						<p>{$vo['updatetime']|date="Y-m-d",###}</p>
					</div>
					{/foreach}
				</div>
			</div>
		</div>

		<script src="__PUBLIC__/js/public/jquery-1.8.3.min.js"></script>

		<script src="__PUBLIC__/js/base.js"></script>
	</body>

</html>