<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title class="pageTopTitle" page-id="0">首页</title>
    <script src="__PUBLIC__/js/public/rem.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/public/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/css/public/swiper.css">
    <link rel="stylesheet" href="__PUBLIC__/css/public/bottomNav.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/public/base.css">
    <link rel="stylesheet" href="__PUBLIC__/css/home/index.css">
</head>
<body>
    <div class="wrapper">
        <!-- 轮播图 -->
        <div class="swiper-container banner-wrap-zp">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="__PUBLIC__/images/home/banner-img01.jpg"  />
                </div>
                <div class="swiper-slide">
                    <img src="__PUBLIC__/images/home/banner-img01.jpg"  />
                </div>
                <div class="swiper-slide">
                    <img src="__PUBLIC__/images/home/banner-img01.jpg"  />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <!-- 菜单导航 -->
        <div class="nav-wrap-zp">
            <ul>
                <li class="itemColor-1">
                    <a href="{:url('Wallet/Wallet')}">
                        <img src="__PUBLIC__/images/home/Assets-icon@2x.png" alt="">
                        <span>投资</span>
                    </a>
                </li>
                <li class="itemColor-2">
                    <a href="{:url('Index/totalRevenue')}">
                        <img src="__PUBLIC__/images/home/Profit-icon@2x.png" alt="">
                        <span>总收益</span>
                    </a>
                </li>
                <li class="itemColor-3">
                    <a href="#">
                        <img src="__PUBLIC__/images/home/Today's earnings-icon@2x.png" alt="">
                        <span>今日收益</span>
                    </a>
                </li>
                <li class="itemColor-4">
                    <a href="#">
                        <img src="__PUBLIC__/images/home/wallet-icon@2x.png" alt="">
                        <span>钱包余额</span>
                    </a>
                </li>
                <li class="itemColor-5">
                    <a href="{:url('Index/qrcode')}">
                        <img src="__PUBLIC__/images/home/share-icon@2x.png" alt="">
                        <span>分享</span>
                    </a>
                </li>
                <li class="itemColor-6">
                   <a href="{:url('Index/login/directDrive')}">
                        <img src="__PUBLIC__/images/home/Assets-icon@2x.png" alt="">
                        <span>我的团队</span>
                    </a>
                </li>
                <li class="itemColor-7">
                    <a href="{:url('Index/present')}">
                        <img src="__PUBLIC__/images/home/withdraw-money-icon@2x.png" alt="">
                        <span>提币</span>
                    </a>
                </li>
                <!-- <li class="itemColor-8">
                    <a href="#">
                        <img src="__PUBLIC__/images/home/stock-icon.png" alt="">
                        <span>股权</span>
                    </a>
                </li> -->
            </ul>
        </div>

        <!-- 底部导航 -->
        <div class="bottomNavWrap container" id="bottomNavWrap" data-id="{$id}"></div>
        
    </div>
    
    <script src="__PUBLIC__/js/public/jquery-1.8.3.min.js"></script>
    <!--底部nav=>Tab功能-->
	<script src="__PUBLIC__/js/public/bottomNavJs.js"></script>
    <script src="__PUBLIC__/js/public/swiper.js"></script>
    
    <script>
        var swiper = new Swiper('.banner-wrap-zp', {
            loop:true,
            pagination: '.swiper-pagination',
            paginationClickable: true,
            spaceBetween: 30,
            autoplay: 3000,
            autoplayDisableOnInteraction: false
        });
    </script>
</body>
</html>