<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>我的消息</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script src="__PUBLIC__/js/public/rem.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/my_message.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/public/base.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/public/reset.css">
		
	</head>
	<body>
	 <div class="header-zp">
            <span class="return" onclick="returnFun()"><img src="__PUBLIC__/images/public/return-zp@2x.png" /></span>
            <h3>我的消息</h3>
            <!-- <span class="share-btn"><img src="../image/public/share-btn-zp.png" /></span> -->
       </div>
       <div class="wtf_top">
         <div class="wtf_wrap">
      	 <div class="wtf_item">
      	 	<div class="wtf_item1">
      	 		<p>EOS充值提现已全面恢复正常</p>
      	 		<p>03-03</p>
      	 	</div>
      	 	<div class="wtf_item1">
      	 		<p>关于暂停EOS充币提币的通知</p>
      	 		<p>02-25</p>
      	 	</div>
      	 	<div class="wtf_item1">
      	 		<p>关于服务器扩容优化的通知</p>
      	 		<p>01-31</p>
      	 	</div>
      	 	<div class="wtf_item1">
      	 		<p>关于第一批糖果空头的通知</p>
      	 		<p>01-26</p>
      	 	</div>
      	 	<div class="wtf_item1">
      	 		<p>EOS充值提现已全面恢复正常</p>
      	 		<p>03-03</p>
      	 	</div>
      	 	<div class="wtf_item1">
      	 		<p>EOS充值提现已全面恢复正常</p>
      	 		<p>03-03</p>
      	 	</div>
      	 	<div class="wtf_item1">
      	 		<p>EOS充值提现已全面恢复正常</p>
      	 		<p>03-03</p>
      	 	</div>
      	 	<div class="wtf_item1">
      	 		<p>EOS充值提现已全面恢复正常</p>
      	 		<p>03-03</p>
      	 	</div>
      	 	<div class="wtf_item1">
      	 		<p>EOS充值提现已全面恢复正常</p>
      	 		<p>03-03</p>
      	 	</div>
      	 	<div class="wtf_item1">
      	 		<p>EOS充值提现已全面恢复正常</p>
      	 		<p>03-03</p>
      	 	</div>
      	 </div>
      </div>
       </div>

	</body>
</html>
