<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>提币</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script src="__PUBLIC__/js/public/rem.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/public/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/public/base.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/home/present.css" />
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<script src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
		<script src="__PUBLIC__/plugins/layui/layui.js"></script>
	
	</head>

	<body>
		<!-- 最大的外套 -->
		<div class="currency_wrap">
			<!-- 头部-s -->
			<div class="header-zp">
				<span class="return" onclick="returnFun()"><img src="__PUBLIC__/images/public/return-zp@2x.png" /></span>
				<h3>提币</h3>
			</div>
			<!-- 头部-e -->
			<!-- 固定导航-s -->
			<div class="fixed_nav_wrap">
				<div class="fixed_nav">
					<div class="nav_name">
						名称
					</div>
					<div class="nav_sum">
						数量
					</div>
					<div class="nav_btn">
						状态
					</div>
				</div>
			</div>
			<!-- 固定导航-e -->
			<!-- 内容主体 -->
			<div class="currency">
				<!-- 列表项 -s-->
				{foreach name="list" item="v"}
				<div class="currency_list">
					<!-- 商品名称 -->
					
						<div class="currency_name">
							<div class="currency_name_text">
								{$v.note}
							</div>
						</div>
						<!-- 商品数量 -->
						<div class="currency_num">
							 {$v.cu_num}
						</div>
						<!-- 提取按钮 -->
						<div class="currency_btn" onclick="send({$v.cu_id},{$v.cu_num})">
							提取
						</div>
					
				</div>
				{/foreach}
				<!-- 列表项 -e -->
				<!-- 提取弹框-s -->
				<div class="popover">
					<form class="form-horizontal" id="handleposition" method="post" onsubmit="return false;">
					<div class="popover_content">
						<input type="hidden" name="uid" id="uid" value="{$uid}">
						<input type="hidden" name="cu_id" id="cu_id" value="">
						<input type="hidden" name="remain_num" id="remain_num" value="">
						请输入提取金额:<input id="popover_num" type="number" name="number" onchange="exchange(this)" value="" />
						<br />
						转换后的金额:<input id="popover_convert" type="number" disabled="disabled" value=""  />
						<div class="popover_affirm">
							<span id="true" class="true">确认</span>
							<span class="false">取消</span>
						</div>
					</div>
					</form>
				</div>
				<!-- 提取弹框-e -->
			</div>

		</div>
		<script src="__PUBLIC__/js/public/jquery-1.8.3.min.js"></script>
		<script src="__PUBLIC__/js/public/base.js"></script>
		<script>
			/*提取 按钮*/
			function send(cu_id,remain_num) {
				$('.popover').show();
				$('#cu_id').val(cu_id);
				$('#remain_num').val(remain_num);
				
			}
			$(document).ready(function() {
				//阻止事件冒泡
				$('.popover_content').click(function(e) {
					e.stopPropagation();
					$('.true').click(function() {
						$('.popover').hide();
						
					});
					$('.false').click(function() {
						$('.popover').hide();

					});
				});
				//点击背景隐藏
				$('.popover').click(function() {
					$(this).hide();
				})
			});
		function exchange(obj){
			var val=$(obj).val();
			var cu_id=$('#cu_id').val();
			var a = "{:url('Index/exchange')}"
			var url = '/index/Index/exchange/val/'+val+'/cu_id/'+cu_id;
			$.ajax({
				type: "POST",
				url: url,
				dataType: "json",
				error: function () {
                		alert('操作失败');
            	},
				success: function (data) {
					if (data.status == 1) {
							$('#popover_convert').val(data.result);
					} else {
							alert(data.msg); 
					}
				}
			});			
		}	

		layui.use(['layer','jquery','form'],function(){
			var layer = layui.layer
			, form = layui.form
			,jq = layui.jquery;
			jq('#true').click(function(){	  
					var url = "{:url('Index/pick')}";
					var datas =  $('#handleposition').serialize();
					jq.getJSON(url,datas,function(data){						
							if (data.status == 1) {
									layer.msg(data.msg, {icon: 1, time: 2000}, function(){					
									window.location.reload(); 
								});
														
							}else if(data.status == 2){
								layer.msg(data.msg, {icon: 2, time: 2000}, function(){					
								// window.location.reload(); 
								});
							}else {
									// layer.msg(data.msg, {icon: 2, anim: 0, time: 2000});
									layer.msg(data.msg, {icon: 2, time: 2000}, function(){					
									window.location.reload(); 
									});
										// window.location.reload(); 
								}
						});
			});			
			jq('.false').click(function(){	  
				window.location.reload();
			});		
		
		});		
		</script>
	</body>

</html>