<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title class="pageTopTitle" page-id="0">HTD</title>
    <style>
        .guide-wrap img{
            width: 100%;
            height: 100%;
		}
    </style>
</head>
<body>
    <div class="wrapper">
        <!--启动页 -->
        <!-- <div class="guide-wrap">
            <img src="__PUBLIC__/images/home/startIndex.gif" class="imgs"/>
        </div> -->
    </div>
    <script src="/public/js/jquery-1.8.3.min.js"></script>
    <script>
        // $(function(){

        //     // 3秒后获取当前域名跳转
        //     var domain = document.domain;
        //     $url = "http://"+ domain +"/index/login/index?flag=1";
        //     setInterval(function(){
        //         location.href = $url;
        //     },3000)
		// })

    </script>
</body>
</html>