<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>注册</title>
		<script src="/public/js/rem.js"></script>
		<link rel="stylesheet" href="__PUBLIC__css/reset.css">
		<link rel="stylesheet" href="__PUBLIC__css/base.css" />
		<link rel="stylesheet" href="__PUBLIC__css/login/register.css">
		<link rel="stylesheet" href="__PUBLIC__css/public/alertWrap.css">
	  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
	</head>
	<body>
			<div class="registerbox">
				<div class="header-zp">
					<span class="return" onclick="javascript:history.back(-1)">
						<img src="__PUBLIC__images/return-zp@2x.png" />
					</span>
					<h3>注册</h3>
				</div>
			</div>

				<div class="reg-new-page">
					<form action="" method="post" class="reg-from">
						<div class="info mistake"></div>
						<div class="from-group">
							<span class="from-tit">用户名:</span>
							<div class="from-icon">
								<img src="__PUBLIC__images/login/user.png" alt="">
								<input type="text" placeholder="请输入用户名 5~16位" name="username" value class="pptt username ">
							</div>
						</div>
						<div class="info mistake"></div>	
						<div class="from-group">
							<span class="from-tit">密码:</span>
							<div class="from-icon">
								<img src="__PUBLIC__images/login/suo.png" alt="">
								<input type="password" placeholder="请输入密码 6~16位" name="password" value class="pptt password">
							</div>
						</div>
						<div class="info mistake"></div>
					<div class="from-group">
						<span class="from-tit">确认密码:</span>
						<div class="from-icon">
							<img src="__PUBLIC__images/login/suo.png" alt="">
							<input type="password" placeholder="再次确认密码" name="pwd2" value class="pptt affirmpwd">
						</div>
					</div>
						<div class="info mistake"></div>
						<div class="from-group">
							<span class="from-tit">邮箱:</span>
							<div class="from-icon">
								<img src="__PUBLIC__images/login/youxiang.png" alt="">
								<input type="text" placeholder="选填" name="usermail" value class="pptt email">
							</div>
						</div>
						<div class="info mistake"></div>
						<div class="from-group">
							<span class="from-tit">手机号:</span>
							<div class="from-icon">
								<img src="__PUBLIC__images/login/shouji.png" alt="">
								<input type="tel" placeholder="请输入手机号码" name="mobile"  value class="pptt phone">
							</div>
						</div>
						<div class="info mistake"></div>
						<div class="from-group ">
							<span class="from-tit">推荐码:</span>
							<div class="from-icon">
								<img src="__PUBLIC__images/login/good.png" alt="">
								{notempty name='$promotion'}
									<input type="text" placeholder="请输入推荐码" name="promotion" value="{$promotion}"  readonly  unselectable="on" class="pptt recommend">
								{else/}
									<input type="text" placeholder="请输入推荐码" name="promotion"  class="pptt recommend">
								{/notempty}
								<!-- readonly  unselectable="on" -->
								<!-- <input type="text" placeholder="请输入推荐码" name="directname" value="{$promotion}"  class="pptt recommend"> -->
							</div>
						</div>
						<div class="send-codemsg mistake info"></div>
						<div class="from-group ">
							<span class="from-tit">验证码:</span>
							<div class="from-icon from-verify">
								<img src="__PUBLIC__images/login/yanz.png" alt="">
								<input type="text" placeholder="请输入验证码" value="" name="verify" class="pptt verify">
								<input type="hidden" name="sms_type" value="1" id="sms_type_id">
							</div>
							<button class="send-code" type="button">获取验证码</button>
						</div>
						<div class="from-group policy">
							<span class="from-cc acc">是否同意政策</span>
							<i class=" icon "></i>
							<span class="info "></span>
						</div>
						<div class="reg-btn">
							<!-- <button type="button" onclick="btn()" class="btn dis" disabled=disabled>注册</button> -->
							<button type="button" class="btn dis ">注册</button>
						</div>
					</form>
					<div class="login-new">
						<a href="{:url('login/index')}" class="register">已有账号 登录</a>
						<!--<a href="">用户协议</a>-->
					</div>
				</div>
</body>
<script src="__PUBLIC__js/public/jquery-1.8.3.js"></script>
<script src="__PUBLIC__js/base.js"></script>
<script src="__PUBLIC__js/register.js"></script>
<script src="__PUBLIC__js/public/publicAlert.js"></script>
<script src="__PUBLIC__/plugins/layer/layer-min.js"></script>
<script>
	$(function(){

	
	 //注册
	 $(".btn").click(function(){
        let userName = $(".username")  //用户名
        let userPhone = $(".phone")    //手机
        let password = $(".password")  //密码
        let affirmpwd = $(".affirmpwd")   //确认密码
        let userEmail = $(".email")    //邮箱
        let rec = $(".recommend")      //推荐人
        let verify = $(".verify")      //验证码
        let body = $("body")
        
        
        //注册用户名
				if (userName.val() == ""){       //用户名为空
						suredAlert(body,"用户名不能为空~");
						userName.focus()
						return 
        }else if (!condition.username){  //用户名格式不正确
                suredAlert(body,"请输入正确的用户名~");
                userName.focus()
                return 
        }
        //注册用户名密码
        if (password.val() == ""){       //密码为空
                suredAlert(body,"密码不能为空~");
                password.focus()
                return
        }else if (!condition.pwdstate){  //用户名密码
                suredAlert(body,"请输入正确的密码~");
                password.focus()
                return 
        } 
    
        //确认密码
        if(password.val() != affirmpwd.val()){  //密码不一致
            console.log(password.val(),affirmpwd.val())
                suredAlert(body,"输入密码不一致 请重新输入~");
                affirmpwd.focus()
                return
        }
        
        //用户邮箱
        // if(userEmail.val() == ""){        //邮箱为空
        //         suredAlert(body,"邮箱不能为空~");
        //         userEmail.focus()
        //         return
        // }else if (!condition.emailstate){ //用户邮箱为false
        //         suredAlert(body,"请输入正确的邮箱~");
        //         userEmail.focus()
        //         return 
		// }
		if(userEmail.val()){
			if (!condition.emailstate){ //用户邮箱为false
                suredAlert(body,"请输入正确的邮箱~");
                userEmail.focus()
                return 
			}
		}
    
        //用户名手机
        if(userPhone.val() == ""){
                suredAlert(body,"手机号码不能为空~");
                userPhone.focus()
                return
        }else if (!condition.phonestate){ //用户手机号
                suredAlert(body,"请输入正确的手机号~");
                userPhone.focus()
                return 
        }
       
        //推荐人
        if (!condition.referrer){    //推荐人
            suredAlert(body,"请填写推荐人~");
            return
        }
    
		//验证码
        if(!verify.val()){
            suredAlert(body,"验证码不能为空~");
            verify.focus()
            return
		}
		
		// else if (!condition.securitycode){  //验证码
        //     suredAlert(body,"请输入正确的验证码~");
        //     verify.focus()
        //     return
        // }
        
        //勾选协议
        if (!condition.iconstate){      //勾选协议
            suredAlert(body,"请勾选用户协议~");
            return
				}
				$.ajax({
					type:"POST",
					url:"{:url('index/login/regis')}",
					data:{
						userName:userName.val(),
						userPhone:userPhone.val(),
						password:password.val(),
						userEmail:userEmail.val(),
						rec:rec.val(),
						verify:verify.val(),
						sms_type:1
					},
					dataType:'json',
					success:function(msg){
						if(msg.url){
							// console.log(msg.url);
							suredAlert($('body'),msg.msg,msg.url);
							// window.location.replace(msg.url);
						}else{
							suredAlert($('body'),msg.msg);
						}
					}
				});
       
			})
		})
	// //注册
	// $(".btn").click(function(){
		// var uname = $(".username").val();
		// var password = $(".password").val();
		// var email = $(".email").val();
		// var phone = $(".phone").val();
		// var recommend = $(".recommend").val();
		// console.log(uname);
		// console.log(password);
		// console.log(email);
		// console.log(phone);
		// console.log(recommend);
		// $.ajax({
		// 		type:"POST",
		// 		url:"{:url('index/login/regis')}",
		// 		data:datas,
		// 		dataType:'json',
		// 		success:function(msg){
		// 			if(msg.url){
		// 				console.log(msg.url);
		// 				suredAlert($('body'),msg.msg,msg.url);
		// 				window.location.replace(msg.url);
		// 			}else{
		// 				alert(msg.msg);
		// 			}
		// 		}
		// 	});
	// 	console.log(123123);
	// });
</script>
</html>