<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta charset="UTF-8">
		<title class="pageTopTitle" page-id="2">我的</title>
		<script src="__PUBLIC__/js/public/rem.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/public/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/public/base.css">
		<link rel="stylesheet" href="__PUBLIC__/css/public/bottomNav.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/public/alertWrap.css">
		<link rel="stylesheet" href="__PUBLIC__/css/my/my.css" />
		
	</head>

	<body>
		<div id="wrap">
			<!--header-->
			<div class="header-zp">
				<span class="return" onclick="returnFun()"><img src="__PUBLIC__/images/public/return-zp@2x.png" /></span>
				<h3>我的</h3>
				<a href="{:url('index/my/editUser')}">
					<span class="share-btn bottmBut">
						<img src="__PUBLIC__/images/public/share-btn-zp.png" />
					</span>
				</a>
			</div>

			<!--个人头像和昵称 我的-->
			<div class="header">
				<img src="../../../public/images/default.png" class="headportrait" />
				<br/>
				<p class="nickname">{$user.username}</span>
			</div>

			<!--个人信息-->
			<ul id="con">

				<li class="show" style="display: block;">
					<div class="mingpian">
						<div class="usernameear">
							<div class="left"><img src="__PUBLIC__/images/my/email.png" /></div>
							<span class="username" style="user-select:none;">电子邮箱:</span>
							<span class="text" style="user-select:none;">{$user.usermail}</span>
						</div>
						<div class="usernameear">

							<div class="left"><img src="__PUBLIC__/images/my/phone.png" /></div>
							<span class="username" style="user-select:none;">电话号码:</span>
							<span class="text" style="user-select:none;">{$user.mobile}</span>
						</div>
						<div class="usernameear">
							<div class="left"><img src="__PUBLIC__/images/my/person.png" /></div>
							<span class="username" style="user-select:none;">推广码:</span>
							<!--<span class="text">{$user.mobile}</span>-->
							<span class="text3 text">{$user.promotion}</span>

						</div>

					</div>
				</li>

			</ul>

			<!--列表项-->
			<div class="tbody-zp">
				<ul>
					<li onclick="shopAlert('暂未开放，敬请期待')">
						<a class="name">
							<span>商城</span>
							<img src="__PUBLIC__/images/my/jiantou.png" />
						</a>
					</li>
					<li  onclick="shopAlert('暂未开放，敬请期待')">
						<a class="name">
							<span>交易所</span>
							<img src="__PUBLIC__/images/my/jiantou.png" />
						</a>
						
					</li>
					<li  onclick="shopAlert('暂未开放，敬请期待')">
						<a class="name">
							<span>基金</span>
							<img src="__PUBLIC__/images/my/jiantou.png" />
						</a>
					</li>
					<li  onclick="shopAlert('暂未开放，敬请期待')">
						<a class="name ">
							<span>云服务</span>
							<img src="__PUBLIC__/images/my/jiantou.png" />
						</a>
					</li>
					
				</ul>

			</div>
		</div>
		<!-- 底部导航 -->
		<div class="bottomNavWrap container" id="bottomNavWrap" data-id="{$id}"></div>

		<script src="__PUBLIC__/js/public/jquery-1.8.3.js"></script>
		<script src="__PUBLIC__/js/public/publicAlert.js"></script>
		<script src="__PUBLIC__/js/my/my.js"></script>
		<!--底部nav=>Tab功能-->
		<script src="__PUBLIC__/js/public/bottomNavJs.js"></script>
		<script src="__PUBLIC__/js/public/base.js"></script>
		
	</body>

</html>