<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>HTD</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<script src="__PUBLIC__/js/public/rem.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/my/upIDCardNew.css?v=4545456" />
		<link rel="stylesheet" href="__PUBLIC__/css/public/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/public/base.css" />
		<!--弹框-->
		<link rel="stylesheet" href="__PUBLIC__/css/public/alertWrap.css?v=1552363666" />
		
	</head>

	<body>
		<!-- 头部 -->
		<div class="header-zp">
			<span class="return" onclick="returnFun()"><img src="__PUBLIC__/images/public/return-zp@2x.png" /></span>
			<h3>上传身份证</h3>
		</div>
		<div class="lj_wrap">
		
			<!--渲染wrpa-->
			<div class="renderingRrpa">
				<!-- '创建一个image对象'，给canvas绘制使用 -->
				<canvas id="canvas" style="display: none;"></canvas>
				
				<!--上传图片wrap-->
				<div class="uploadWrap">
					<!--每个 上传图片box---->
					<p>身份证正面</p>
					<div class="imageEchoBox">
						{empty name="$img[0]"}
							<!--提示-->
							<span class="tipsText">请点击“选中图片”上传图片。</span>
							<!--回显的图片-->
							<img class="preViewImg" src="" onerror="javascript:this.src='__PUBLIC__/images/public/loading.gif'"/>
						{else/}
							<img class="preViewImg preViewImg_show" src="{$img[0]}" onerror="javascript:this.src='__PUBLIC__/images/public/loading.gif'"/>
						{/empty}
						<!--上传图片 tyle='file'-->
						<a class="uploadFile2" href="#">选择图片</a>
						<input class="uploadFile" type="file" onchange="UpLoad(this,0)" name="file" id="" value="0" accept="image/*" />
					</div>
					<p>身份证反面</p>
					<!--上传图片box 2---->
					<div class="imageEchoBox">
						{empty name="$img[1]"}
							<!--提示-->
							<span class="tipsText">请点击“选中图片”上传图片。</span>
							<!--回显的图片-->
							<img class="preViewImg" src="" onerror="javascript:this.src='__PUBLIC__/images/public/loading.gif'"/>
						{else/}
							<img class="preViewImg preViewImg_show" src="{$img[1]}" onerror="javascript:this.src='__PUBLIC__/images/public/loading.gif'"/>
						{/empty}
						<!--上传图片 tyle='file'-->
						<a class="uploadFile2" href="#">选择图片</a>
						<input class="uploadFile" type="file" onchange="UpLoad(this,1)" name="file" id="" value="1" accept="image/*"  />
					</div>
					
				</div>

				<!-- 确定-->
				<div class="decideToSell">
					<!--确定 按钮-->
					<p class="decideToSellBut">确定</p>
				</div>
			</div>

		</div>

		<script src="__PUBLIC__/js/public/jquery-1.8.3.min.js"></script>
		<script src="__PUBLIC__/js/public/base.js"></script>
		<!--弹窗 函数的js => sAFail($(最外的边框),text)-->
		<script src="__PUBLIC__/js/public/publicAlert.js"></script>
		<script>
			/* 防止客户重复上传*/ 
			var stateImg = true;
			/*上传图片*/
			function UpLoad(e,_num) {
				/*保存 点击对应的this*/
				var that = $(e);
				if(e.files[0]) {
					/*判断哪张图片回显中..*/
					if(_num == 0){
						/*提示*/
						$('.tipsText').eq(0).hide();
						/*清空路径，调用默认图片*/
						$('.preViewImg').eq(0).attr('src','');
						/*图片显示*/
						$('.preViewImg').eq(0).show();
					}else {
						$('.tipsText').eq(1).hide();
						$('.preViewImg').eq(1).attr('src','');
						$('.preViewImg').eq(1).show();
						
					}
					
					/*file上传图片*/
					var f = e.files[0];
					fileType = f.type;
					if(/image\/\w+/.test(fileType)) {
						var fileReader = new FileReader();
						fileReader.readAsDataURL(f);
						fileReader.onload = function(event) {
							var result = event.target.result; //返回的dataURL   
							var image = new Image();
							image.src = result;
							//若图片大小大于1M，压缩后再上传，否则直接上传  
							if(f.size > 1024 * 1024) {
								image.onload = function() {
									//创建一个image对象，给canvas绘制使用
									var canvas = document.getElementById("canvas");
									canvas.width = image.width;
									canvas.height = image.height; //计算等比缩小后图片宽高   
									var ctx = canvas.getContext('2d');
									ctx.drawImage(this, 0, 0, canvas.width, canvas.height);
									var newImageData = canvas.toDataURL(fileType, 0.8); //重新生成图片
									/* 图片 回显*/
									that.siblings(".preViewImg").attr("src", newImageData);
									// console.log(newImageData);

									$("#canvas").hide();
								}
							} else {
								//创建一个image对象，给canvas绘制使用 
								image.onload = function() {
									/*图片 回显 */
									that.siblings(".preViewImg").attr("src", result);
									// console.log(result);
								}
							}
						}
					} else {
						alert("请选择图片");
					}

				} else {
					console.log('取消选择图片！');
				}
			}
			
			/* 确认 */
			$('.decideToSellBut').on('click', function() {
				/*存储，base64*/
				var arrImgUrl = [];
				/*对应上传=>丢进数组*/
				for(var i = 0; i < $('.imageEchoBox').length; i++) {
					console.log(898989,$('.preViewImg').eq(i).attr('src'));
					if($('.imageEchoBox .preViewImg').eq(i).attr('src').indexOf('.gif') == -1 ) {
						arrImgUrl.push($('.preViewImg').eq(i).attr('src'));
						// console.log($('.preViewImg').eq(i).attr('src'));
					}
				}
				
				/*判断=>传两个图片*/
				if(arrImgUrl.length != 2){
					// console.log('请上传身份正反两张图片！')
					/*对话框*/
					suredAlert($('body'),'请上传身份“正反”两张图片！');
					return false;
				} else {
					// console.log('图片',arrImgUrl);
					if(stateImg){
						stateImg = false;
						arrImgUrl = JSON.stringify(arrImgUrl);
						
						$.ajax({
							url:"{:url('index/my/upload')}",
							type:"POST",
				            dataType:"json",
				            data:{'img':arrImgUrl},
				            error:function(data){
				            	// console.log(data);
				            	/*对话框*/
								suredAlert($('body'),'服务器繁忙, 请联系管理员!');
				            	stateImg = true;
				            },
				            success:function(data){
				            	// console.log(data);
				            	alert(data.msg);
				            	stateImg = true;
				            	location.reload();	            	
				            }

						});

					}
				}
				// console.log(arrImgUrl);
			})
		</script>
	</body>

</html>