/* 
 找回密码
*/

body {
    background: -moz-linear-gradient(top, #2866a3 0%, #5ebfc8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2866a3), color-stop(100%, #5ebfc8));
    background: -webkit-linear-gradient(top, #2866a3 0%, #5ebfc8 100%);
    background: -o-linear-gradient(top, #2866a3 0%, #5ebfc8 100%);
    background: -ms-linear-gradient(top, #2866a3 0%, #5ebfc8 100%);
}

.header-zp{
    /* background-color: transparent; */
	background: -moz-linear-gradient(top, #2866a3 0%, #2866a3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2866a3), color-stop(100%, #2866a3));
	background: -webkit-linear-gradient(top, #2866a3 0%, #2866a3 100%);
	background: -o-linear-gradient(top, #2866a3 0%, #2866a3 100%);
	background: -ms-linear-gradient(top, #2866a3 0%, #5ebfc8 100%);
}
.retrievebox{
	padding-top: .88rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    width: 100%;
    position: relative;
    margin-left:auto;
    margin-right: auto;
}

.retrieve-new-page{
    padding:.2rem .3rem .2rem .3rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.from-group{
    display: flex;
    display: -webkit-box; 
    display: -moz-box; 
    display: -webkit-flex; 
    display: -moz-flex; 
    display: -ms-flexbox; 
    border-radius: .2rem;
    height: .8rem;
    line-height: .8rem;
    width: 100%;
    background-color: transparent;
 }

 .from-group .from-cc{
    font-size: .3rem;
    padding-left: .1rem;
 }

.from-tit {
    display: inline-block;
    width: 25%;
    font-size: .3rem;
    color: #ffffff;
    padding-left: .1rem;
}

.from-group .from-icon{
    display: inline-block;
    border: 1px solid #ffffff;
    width: 80%;
    border-radius: .1rem;
    height:.8rem;
}
/* 输入栏图片 */
.from-group .from-icon img{
    padding-left: .3rem;
    height:.3rem;
    width: .3rem;
    vertical-align: middle;
}
/* 输入框样式 */
.from-group input {
    padding-left: .1rem;
    font-size: .3rem;
    width: 84%;
    height: .8rem;
    color: #ffffff;
}
/* 验证码样式 */
 .from-group .from-verify{
    width: 60%;    
 }
 .from-group .from-icon .verify {
    width: 79%;
}

/* 验证码按钮样式 */
 .from-group .acquire{
    border: 0;
    background: -moz-linear-gradient(top, #d224d5 0%, #d296e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d224d5), color-stop(100%, #d296e2));
    background: -webkit-linear-gradient(top, #d224d5 0%, #d296e2 100%);
    background: -o-linear-gradient(top, #d224d5 0%, #d296e2 100%);
    background: -ms-linear-gradient(top, #d224d5 0%, #d296e2 100%);
    width: 20%;
    height: .8rem;
    border-radius: .2rem;
    color: #ffffff;
    font-size: .2rem;
}

/* 提交按钮初始样式 */
.btn{
    margin-top:.4rem;
    width: 100%;
    height: .8rem;
    color: #1153f3;
    border: 0;
    font-size: .3rem;
    border-radius: .2rem;
}

/* 按钮禁用样式 */
.dis{
    background: -moz-linear-gradient(left, #b0b0b0 0%, #95c5d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b0b0b0), color-stop(100%, #95c5d6));
    background: -webkit-linear-gradient(left, #b0b0b0 0%, #95c5d6 100%);
    background: -o-linear-gradient(left, #b0b0b0 0%, #95c5d6 100%);
    background: -ms-linear-gradient(left, #b0b0b0 0%, #95c5d6 100%);
}

/* 按钮样式 */
 .active{
    background: -moz-linear-gradient(left, #1de5e2 0%, #1153fc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1de5e2), color-stop(100%, #1153fc));
    background: -webkit-linear-gradient(left, #1de5e2 0%, #1153fc 100%);
    background: -o-linear-gradient(left, #1de5e2 0%, #1153fc 100%);
    background: -ms-linear-gradient(left, #1de5e2 0%, #1153fc 100%);
 }
 /* 提示文字样式 */
    .info.mistake {
        color: red;
		font-size: .3rem;
    }
/* 提示栏样式 */
.info{
    height: .5rem;
    line-height: .5rem;
    padding-left: 2rem;
}
/* 输入框字体颜色 */
.pptt::-webkit-input-placeholder { /* WebKit browsers */
    color:#b8c9cf
}

.pptt:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#b8c9cf
}

.pptt::-moz-placeholder { /* Mozilla Firefox 19+ */
color:#b8c9cf
}

.pptt:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #b8c9cf
}