.imageEchoBox{width: 63%;margin-left: 30.5%;height: 3rem;background: #f5f5f5;margin-bottom: 1rem;position: relative;border-radius: 0.09rem;
	font-size: .25rem;
    text-align: center;
    line-height: 3rem;
    color: #333;
}

*{
	font-size:.3rem;
}
.tipsText{line-height: 0.3rem;}
.renderingRrpa{padding-top: 0.88rem;box-sizing: border-box;}

.uploadWrap p{font-size: 0.3rem;color: #fff;text-align: center;line-height: 0.8rem;}


.imageEchoBox p{width: 100%;font-size: 0.24rem;color: #000;position: absolute;top: 105%;left: 0;display: none;background: #f5f5f5;border-radius: 0.09rem;line-height: 0.6rem;}

.imageEchoBox img{ position: absolute; top: 50%;left: 50%;transform: translate(-50%,-50%);max-width: 100%;max-height: 100%;}

.uploadFile{width: 97% !important;height: 0.6rem;line-height: 0.6rem;position: absolute;top: 105%;left: 0;opacity: 0;z-index: 10;}
.uploadFile2{width: 100%;height: 0.6rem;font-size: 0.23rem; position: absolute;top: 105%;left: 0;color: #000;background: #f5f5f5;text-align: center;line-height: 0.6rem;border-radius: 0.09rem;}

.decideToSell{width: 100%;margin: 0 auto;margin-bottom: 1rem;}
.decideToSell p{letter-spacing: 0.02rem; font-size: 0.3rem; background: #f5f5f5;color: #000;padding: 0.2rem 0;text-align: center;border-radius: 0.1rem;display: block;}


.currency_wrap {
	width: 100%;
	height: auto;
	
}

.fixed_nav_wrap {
	width: 100%;
	height: .88rem;
	line-height: .88rem;
	position: fixed;
	left: 0;
	top: .88rem;
	padding: 0 .4rem;
	background: #5a62af;
	transition: .3s linear;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.fixed_nav {
	color: white;
	letter-spacing: .01rem;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.fixed_nav div:nth-child(3) {
	margin-right: .25rem;
}

.currency {
	letter-spacing: .01rem;
	width: 100%;
	height: auto;
	padding: .88rem .2rem 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.currency_list{
	margin-top: .25rem;
	border: .01rem solid #66cc;
	border-radius: .1rem;
	overflow: hidden;
}
.list_tacitly {
	width: 100%;
	height: .88rem;
	line-height: .88rem;
	background: #242e65;
	color: #6c89ca;
	padding: 0 .2rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.pull_down{
	margin-top: .36rem;
	width: .28rem;
	height: .2rem;
	transition: all 0.5s;
	transform: rotateZ(0deg);
	margin-right: .1rem;	
}
.up{
	transform: rotateZ(180deg);	
}
.pull_down img{
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.currency_name {
	width: .8rem;
	color: white;
}
.currency_name_text{
	width: 2.8rem;
	overflow: hidden;
}
.currency_num{
	color: #f5f5f5;
}
.currency_btn {
	color: #fff;
	width: 2rem;
	height: .56rem;
	line-height: .54rem;
	text-align: center;
	/* margin: .15rem auto 0; */
	display: inline-block;
/* 	border: .01rem solid #407ffe; */
	border-radius: .05rem;
	background: #224ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-left: .2rem;
}
.currency_box{
	height:1rem;
	padding-top:.4rem;
	display: flex;
	justify-content:center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* 下拉菜单-s*/
.pull_down_content{
	display: none;
	color: #f5f5f5;
	width: 100%;
	height: auto;
	background: #142a5d;
	border-radius: 0 0 .1rem .1rem;
	padding: .2rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.pull_down_content .down_list{
	/* border-bottom: .01rem solid #66cc; */
	line-height: .5rem;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

/* 下拉菜单-e wrap*/
.popover{
	 display: none; 
	width: 100%;
	height: 100%;
	position: fixed;
	/*padding: 0 .2rem;*/
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* 下拉菜单-e wrap - box */
.popover .popover_content{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 1;
	/* padding: 0.1rem 0 1.2rem 0; */
	padding-top: 0.1rem; 

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 85%;
	height: calc(100vh - 150px);
	color: #f5f5f5;
	line-height: .75rem;
	text-align: center;
	border-radius: .1rem;
	overflow-y: scroll;
	background: #404786;
	
}
.popover_box span{font-size: 0.3rem;}
.popover_box{width: 100%; float: right;
}
.popover .popover_content input::-webkit-input-placeholder{font-family: 'PingFangMedium'; color: #f5f5f5;font-size: 0.28rem;letter-spacing: 0.02rem;}
.popover .popover_content input{
	margin-left: .1rem;
	/*background: #f5f5f5;*/
	/*height: 0.6rem;
	line-height: 0.6rem;*/
	width: 60%;
	font-size: 0.28rem;
	padding-left: 0.05rem;
	background: transparent;
	border-bottom: 1px solid #f5f5f5;
	color: #f5f5f5;
}
/* .lj_p_address{float: right;} */
.lj_address2{float:right;}

/* .lj_p_address p{display: flex;justify-content: flex-start;} */
.lj_p_address h2{width: 27%;text-align: right;font-size: 0.3rem;float: left;}
.lj_p_address input{width: 62% !important;margin-right:5.5%;}
.popover .popover_content input:nth-child(6){
	color: #f5f5f5;
	background: transparent;
}
.voting .voting_affirm,.popover .popover_affirm{
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	/* margin-top: .4rem; */
	width: 60%;
	margin: 0 auto;
	padding: 0.5rem 0;
	
	height: 0.7rem;
	line-height: 0.7rem;
	/* border-top: .01rem solid #66cc; */
	
}
.voting .voting_affirm span,.popover .popover_affirm span{
	/* display: block;
	float: left; */
	width: 48%;
	text-align: center;
/* 	border: 1px solid #66cc; */
	border-radius: 0.09rem;
	margin-left: 0.2rem;
	background: #224ddd;
}

/* 000 */
/*复投弹框-s*/
.voting{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	/*padding: 0 .2rem;*/
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.voting .voting_content{
	color: #f5f5f5;
	/*position: relative;*/
	height: 35%;
	/*padding-bottom: 1rem;*/
	line-height: .75rem;
	/*margin-top: 2rem;*/
	text-align: center;
	background: #404786;
	border-radius: .1rem;
	padding-top: 0.3rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 90%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: calc(100vh - 350px);
	padding-right: 0.3rem; 
	overflow-y: scroll;
}
.voting_box span{font-size: 0.3rem;}
.voting_box{width: 100%; float: right;}
.voting .voting_content input::-webkit-input-placeholder{font-family: 'PingFangMedium'; color: #f5f5f5;font-size: 0.28rem;letter-spacing: 0.02rem;}
.voting .voting_content input{
	margin-left: .1rem;
	/*background: #f5f5f5;*/
	/*height: 0.6rem;
	line-height: 0.6rem;*/
	width: 60%;
	font-size: 0.28rem;
	padding-left: 0.05rem;
	background: transparent;
	border-bottom: 1px solid #f5f5f5;
	color: #f5f5f5;
}

.lj_p_address .lj_input3{
	position: relative;
	 width: 32% !important; 
	float: left;
	margin-left: .2rem !important;
	margin-top: .11rem;
}

.lj_p_address .lj_input4{
	position: relative;
	width: 28% !important;
	float: left;
	margin-left: .19rem !important;
	margin-top: .35rem;
	margin-right: 0.25rem !important;
}
#captcha{width: 1.8rem;height: 0.7rem;margin-right: 0.5rem;}
.phone_yzm{width: 28.5% !important;}
/*间距*/
.vo_mg{margin-bottom: 0.2rem;}

.currency_wrap .lj_address2 .lj_input3{width:32% !important;margin-left:0 ;}
.lj_p_address input{width: 62% !important;}
.voting .voting_content input:nth-child(6){
	color: #f5f5f5;
	background: transparent;
}

.h2_input4{margin-top: 0.2rem;margin-left: 0.09rem;}

/* 复投弹框-e */
#popover_num::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #c4c4c4;
}
#popover_num:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #c4c4c4;
}
#popover_num::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #c4c4c4;
}
#popover_num:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #c4c4c4;
}

.lj_p_address{position: relative;}
.voting_box span,.popover_box span{display: inline-block}
.voting_box ul,.popover_box ul {z-index: 1000; display: none;   width: 30%;position: absolute;left: 54%;background: #c4c4c4;border-radius: 0.09rem; }
.voting_box ul li,.popover_box ul li{font-size: 0.3rem;color: #000;border-bottom: 1px solid #ffffff; }
.voting_box ul li:hover,.popover_box ul li:hover{background: #5a62af;color: #fff}
.voting_box ul li:last-child,.popover_box ul li:last-child{border-bottom: none}





.btn{
	 border:0;
	 border-radius:.1rem;	
	 width: 1.6rem;
	 height: 0.53rem;
	 position: absolute;
	 top:0rem;
	 right: 0.45rem;
	 font-size: 0.2rem;
	 background: #224ddd;
	 color: #fff;
}
.payment_cont_wz{
	float: right;
	color: #c8932b;
	text-align: center;
	line-height: .3rem;
}

.payment_cont_wz>p{
	padding:.4rem .4rem 0 .4rem;
	font-size:0.24rem;
	letter-spacing: 0.02rem;
	line-height: 0.38rem;
}
/* 确认弹框-s V1.0 */
/*  遮罩层 */
.true_popUp_wrap{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	padding: .88rem .2rem 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: rgba(0,0,0,.5);
}
/* 弹框主体 */
.true_popUp{
	margin-top: 50%;
	width:100%;
	height: auto;
	color:#f5f5f5;
	background: #142785;
	padding: .2rem .2rem;
	border-radius: .06rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* 弹框标题 */
.popUp_titel{
	font-size: .5rem;
	width: 100%;
	margin-bottom:.2rem;
	text-align: center;	
	color:#00ffff;
}
/* 内容主体 */
.popUp_content{
	overflow: hidden;
}
/* 内容标题 */
.popUp_content h1{
	width: 100%;
	text-align: center;
	font-size:.26rem;
	line-height: .6rem;
}
/* 内容主体 */
.popUp_content p{
	line-height: .5rem;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
/*弹框按钮*/
.popUp_btn{
	margin:.2rem auto;
	width: 3rem;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	background:#224ddd;
	border-radius: .06rem;
}
/* 确认弹框-e V1.0 */

/* 验证码 */
.voting_verify{
	height: 100%;
	width: 100%;
	cursor:pointer;
}
.voting_verify #captcha{
height: 100%;
width: 3rem;
}
