.imageEchoBox{width: 62%;margin-left: 30.5%;height: 3rem;background: #f5f5f5;margin-bottom: 1rem;position: relative;border-radius: 0.09rem;
	font-size: .25rem;
    text-align: center;
    line-height: 3rem;
    color: #333;
}

.renderingRrpa{padding-top: 0.88rem;box-sizing: border-box;}

.uploadWrap p{font-size: 0.3rem;color: #fff;text-align: center;line-height: 0.8rem;}


.imageEchoBox p{width: 100%;font-size: 0.24rem;color: #000;position: absolute;top: 105%;left: 0;display: none;background: #f5f5f5;border-radius: 0.09rem;line-height: 0.6rem;}

.imageEchoBox img{ position: absolute; top: 50%;left: 50%;transform: translate(-50%,-50%);max-width: 100%;max-height: 100%;}

.uploadFile{width: 97% !important;height: 0.6rem;line-height: 0.6rem;position: absolute;top: 105%;left: 0;opacity: 0;z-index: 10;}
.uploadFile2{width: 100%;height: 0.6rem;font-size: 0.23rem; position: absolute;top: 105%;left: 0;color: #000;background: #f5f5f5;text-align: center;line-height: 0.6rem;border-radius: 0.09rem;}

.decideToSell{width: 100%;margin: 0 auto;margin-bottom: 1rem;}
.decideToSell p{letter-spacing: 0.02rem; font-size: 0.3rem; background: #f5f5f5;color: #000;padding: 0.2rem 0;text-align: center;border-radius: 0.1rem;display: block;}


.currency_wrap {
	width: 100%;
	height: auto;
}

.fixed_nav_wrap {
	width: 100%;
	height: .88rem;
	line-height: .88rem;
	position: fixed;
	left: 0;
	top: .88rem;
	padding: 0 .4rem;
	background: #5a62af;
	transition: .3s linear;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.fixed_nav {
	color: white;
	letter-spacing: .01rem;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.fixed_nav div:nth-child(3) {
	margin-right: .25rem;
}

.currency {
	letter-spacing: .01rem;
	width: 100%;
	height: auto;
	padding: .88rem .2rem 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.currency_list{
	margin-top: .25rem;
	border: .01rem solid #66cc;
	border-radius: .1rem;
	overflow: hidden;
}
.list_tacitly {
	width: 100%;
	height: .88rem;
	line-height: .88rem;
	background: #242e65;
	color: #6c89ca;
	padding: 0 .2rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.pull_down{
	margin-top: .2rem;
	width: .4rem;
	height: .4rem;
	transition: all 0.5s;
	transform: rotateZ(0deg);

}
.up{
	transform: rotateZ(180deg);	
}
.pull_down img{
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.currency_name {
	width: .8rem;
	color: white;
}
.currency_name_text{
	width: 2.8rem;
	overflow: hidden;
}
.currency_num{
	color: #f5f5f5;
}
.currency_btn {
	color: #f5f5f5;
	width: 2rem;
	height: .56rem;
	line-height: .54rem;
	text-align: center;
	/* margin: .15rem auto 0; */
	display: inline-block;
	border: .01rem solid #407ffe;
	border-radius: .05rem;
	background: #224ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-left: .2rem;
}
.currency_box{
	 display: flex;
	 justify-content:center;
}
/* 下拉菜单-s*/
.pull_down_content{
	display: none;
	color: #f5f5f5;
	width: 100%;
	height: auto;
	background: #142a5d;
	border-radius: 0 0 .1rem .1rem;
	padding: .2rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.pull_down_content .down_list{
	/* border-bottom: .01rem solid #66cc; */
	line-height: .5rem;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

/* 下拉菜单-e*/
.popover{
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	/*padding: 0 .2rem;*/
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.popover .popover_content{
	color: #f5f5f5;
	/*position: relative;*/
	/*height: auto;*/
	/*padding-bottom: 1rem;*/
	line-height: .75rem;
	/*margin-top: 2rem;*/
	text-align: center;
	background: #404786;
	border-radius: .1rem;
	padding-top: 0.1rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 90%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: calc(100vh - 150px);
	padding-right: 0.3rem; 
}
.popover_box span{font-size: 0.3rem;}
.popover_box{width: 100%; float: right;
  
}
.popover .popover_content input::-webkit-input-placeholder{font-family: 'PingFangMedium'; color: #f5f5f5;font-size: 0.28rem;letter-spacing: 0.02rem;}
.popover .popover_content input{
	margin-left: .1rem;
	/*background: #f5f5f5;*/
	/*height: 0.6rem;
	line-height: 0.6rem;*/
	width: 60%;
	font-size: 0.28rem;
	padding-left: 0.05rem;
	background: transparent;
	border-bottom: 1px solid #f5f5f5;
	color: #f5f5f5;
}
/* .lj_p_address{float: right;} */
.lj_address2{float:right;}

/* .lj_p_address p{display: flex;justify-content: flex-start;} */
.lj_p_address h2{width: 27%;text-align: right;font-size: 0.3rem;float: left;}
.lj_p_address input{width: 62% !important;margin-right:5.5%;}
.popover .popover_content input:nth-child(6){
	color: #f5f5f5;
	background: transparent;
}
.popover .popover_affirm{
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	border-top: .01rem solid #66cc;
	position: absolute;
	bottom: 0;
	left: 0;
}
.popover .popover_affirm span{
	display: block;
	float: left;
	margin: 0 auto;
	width: 49%;
	text-align: center;
}
.true{
	border-right: .01rem solid #66cc;
}

/* 000 */
/*复投弹框-s*/
.voting{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	/*padding: 0 .2rem;*/
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.voting .voting_content{
	color: #f5f5f5;
	/*position: relative;*/
	/*height: auto;*/
	/*padding-bottom: 1rem;*/
	line-height: .75rem;
	/*margin-top: 2rem;*/
	text-align: center;
	background: #404786;
	border-radius: .1rem;
	padding-top: 0.3rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 90%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: calc(100vh - 150px);
	padding-right: 0.3rem; 
}
.voting_box span{font-size: 0.3rem;}
.voting_box{width: 100%; float: right;}
.voting .voting_content input::-webkit-input-placeholder{font-family: 'PingFangMedium'; color: #f5f5f5;font-size: 0.28rem;letter-spacing: 0.02rem;}
.voting .voting_content input{
	margin-left: .1rem;
	/*background: #f5f5f5;*/
	/*height: 0.6rem;
	line-height: 0.6rem;*/
	width: 60%;
	font-size: 0.28rem;
	padding-left: 0.05rem;
	background: transparent;
	border-bottom: 1px solid #f5f5f5;
	color: #f5f5f5;
}

.lj_p_address .lj_input3{
	position: relative;
}

.currency_wrap .lj_address2 .lj_input3{width:32% !important;margin-left:0 ;}
.lj_p_address input{width: 62% !important;}
.voting .voting_content input:nth-child(6){
	color: #f5f5f5;
	background: transparent;
}

.voting .voting_affirm{
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	border-top: .01rem solid #66cc;
	position: absolute;
	bottom: 0;
	left: 0;
}
.voting .voting_affirm span{
	display: block;
	float: left;
	margin: 0 auto;
	width: 49%;
	text-align: center;
}
.true{
	border-right: .01rem solid #66cc;
}
/* 复投弹框-e */
#popover_num::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #c4c4c4;
}
#popover_num:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #c4c4c4;
}
#popover_num::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #c4c4c4;
}
#popover_num:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #c4c4c4;
}

.popover_box{position: relative;}
.popover_box span{display: inline-block}
.popover_box ul {z-index: 1000; display: none;   width: 30%;position: absolute;left: 54%;background: #c4c4c4;border-radius: 0.09rem; }
.popover_box ul li{font-size: 0.3rem;color: #000;border-bottom: 1px solid #ffffff; }
.popover_box ul li:hover{background: #5a62af;color: #fff}
.popover_box ul li:last-child{border-bottom: none}


.btn{
	 border:0;
	 border-radius:.1rem;	
	 padding:.1rem;
	 position: absolute;
	 top:1.43rem;
	 right: 0.4rem;
}

