{extend name="base" /} {block name="body"}

<!--tab标签-->
<div class="layui-tab-brief">

    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form form-container" id="myform" method="post" action="{:url('admin/currency/doedit',['id'=>$res['id']])}"  enctype="multipart/form-data">
                <div class="layui-form-item">
                    <label class="layui-form-label">币种名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name"  value="{$res['name']}" required lay-verify="required" placeholder="请输入币种名称" class="layui-input txt">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">币种简称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="alias_name"  value="{$res['alias_name']}" required lay-verify="required" placeholder="请输入币种简称" class="layui-input txt">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">币种价格</label>
                    <div class="layui-input-inline">
                        <input type="text" name="price"  value="{$res['price']}" oninput = "value=value.replace(/[^\d]/g,'')" required lay-verify="required" placeholder="请输入币种价格" class="layui-input txt">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">币种提示</label>
                    <div class="layui-input-inline">
                        <input type="text" name="note"  value="{$res['note']}" placeholder="请输入币种提示" class="layui-input txt">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">币种图标</label>
                    <div class="layui-input-inline">
                        <input type="file" name="log" id="file" onchange="checkFileExt(this.value)">
                        <img src="/{$res['log']}" alt="111" style="width: 100px;height: 100px">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <span>启用</span><input type="radio" name="status" value="1" title="启用"  style="display: inline;" {if $res['status'] eq 1} checked {else /}{/if}>
                        <span>禁用</span><input type="radio" name="status" value="0" title="禁用"  style="display: inline;" {if $res['status'] eq 0} checked {else /}{/if}>

                    </div>
                </div>
                <div class="btable-paged">
                    <div class="layui-main">
                        <div class="formbtngroup">
                            <button class="layui-btn layui-btn-sm" id="fileUpload">更新</button>
                            <button onclick="history.go(-1);return false;" class="layui-btn layui-btn-primary layui-btn-sm">返回</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    $("#fileUpload").click(function(){
        var text=$(".txt");
        if(text.val()== ''){
            alert("输入框不能为空");
            return false;
        }
        document.forms[0].submit();
    });

    function ajaxPost(){
        var formData = $("#myform").serialize();
        //serialize() 方法通过序列化表单值，创建 URL 编码文本字符串,这个是jquery提供的方法
        $.ajax({
            type:"post",
            url:"{:url('admin/currency/doedit')}",  //数据传输的控制器方法
            data:formData,//这里data传递过去的是序列化以后的字符串
            success:function(data){

            }
        });
    }
    function checkFileExt(filename)
    {
        var flag = false; //状态
        var arr = ["jpg","png","gif"];
        //取出上传文件的扩展名
        var index = filename.lastIndexOf(".");
        var ext = filename.substr(index+1);
        //循环比较
        for(var i=0;i<arr.length;i++) {
            if(ext == arr[i]) {
                flag = true; //一旦找到合适的，立即退出循环
                break;
            }
        }
        //条件判断
        if(!flag) {
            alert("文件名不符合");
            var obj=document.getElementById('file');
            obj.outerHTML=obj.outerHTML;
        }

    }

</script>

{/block}