{extend name="base" /} {block name="body"}
<div class="layui-row layui-col-space30">
    <div class="layui-col-md2 layui-col-md-offset1">
        <div class="layui-card" style="background-color:#009688">
            <div class="layui-card-header">总会员数统计</div>
            <div class="layui-card-body">{$count.total_user}</div>
        </div>
    </div>
    <div class="layui-col-md2">
        <div class="layui-card" style="background-color:#009688">
            <div class="layui-card-header">静态奖金统计</div>
            <div class="layui-card-body">{$count.static_wallet}</div>
        </div>
    </div>
    <div class="layui-col-md2">
        <div class="layui-card" style="background-color:#009688">
            <div class="layui-card-header">动态奖金统计</div>
            <div class="layui-card-body">{$count.dynamic_wallet}</div>
        </div>
    </div>
</div>
<div class="layui-row layui-col-space30">
    <div class="layui-col-md2 layui-col-md-offset1">
        <div class="layui-card" style="background-color:#009688">
            <div class="layui-card-header">财务统计</div>
            <div class="layui-card-body">{$count.total_user}</div>
        </div>
    </div>
    <div class="layui-col-md2">
        <div class="layui-card" style="background-color:#009688">
            <div class="layui-card-header">总会员本金主流币数量统计</div>
            <div class="layui-card-body">{$count.total_user}</div>
        </div>
    </div>
</div>
<div class="tpt—index fly-panel fly-panel-user">
    <blockquote style="padding: 10px;border-left: 5px solid #009688;" class="layui-elem-quote">系统信息：</blockquote>
    <table width="100%">
        <tr>
            <td>服务器类型</td>
            <td>{:php_uname('s')}</td>
        </tr>
        <tr>
            <td>PHP版本</td>
            <td>{:PHP_VERSION}</td>
        </tr>
        <tr>
            <td>Zend版本</td>
            <td>{:Zend_Version()}</td>
        </tr>
        <tr>
            <td>服务器解译引擎</td>
            <td>{:$_SERVER['SERVER_SOFTWARE']}</td>
        </tr>
        <tr>
            <td>服务器语言</td>
            <td>{:$_SERVER['HTTP_ACCEPT_LANGUAGE']}</td>
        </tr>
        <tr>
            <td>服务器Web端口</td>
            <td>{:$_SERVER['SERVER_PORT']}</td>
        </tr>
        <tr>
            <td>服务器上传文件大小限制</td>
            <td>upload_max_files：{:ini_get('post_max_size')} / post_max_size：{:ini_get('upload_max_filesize')}</td>
        </tr>
    </table>
    <blockquote style="padding: 10px;border-left: 5px solid #009688;" class="layui-elem-quote">开发团队：</blockquote>
    <table width="100%">
        <tr>
            <td width="110px">版权所有</td>
            <td>----</td>
        </tr>
        <tr>
            <td>特别提醒您</td>
            <td>----</td>
        </tr>
    </table>
</div>

{/block} {block name="script"}
<script>
    layui.use(['layer', 'jquery'], function() {
        var jq = layui.jquery;

        jq('#hiddenbq').on('click', function() {
            var url = jq(this).data('url');
            var loading = layer.load(2, {
                shade: [0.2, '#000']
            });
            jq.getJSON(url, function(data) {
                layer.close(loading);

                if (data.code == 200) {

                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000
                    }, function() {
                        location.reload();
                    });
                } else {

                    layer.msg(data.msg, {
                        icon: 2,
                        anim: 6,
                        time: 1000
                    });
                }
            });
        });
        jq('#update').click(function() {
            var url = jq(this).data('url');
            layer.confirm('升级之前请先备份好自己修改过的模板文件？', {
                btn: ['已备份好', '没有'] //按钮
            }, function(index) {
                layer.close(index);
                var loading = layer.load(2, {
                    shade: [0.2, '#000']
                });
                jq.getJSON(url, function(data) {
                    layer.close(loading);

                    if (data.code == 200) {

                        layer.msg(data.msg, {
                            icon: 1,
                            time: 1000
                        }, function() {
                            location.reload();
                        });
                    } else {

                        layer.msg(data.msg, {
                            icon: 2,
                            anim: 6,
                            time: 1000
                        });
                    }
                });
                return false;
            }, function(index) {
                layer.close(index);
            });

        });
    });
    console.log('采集秘钥为：<?php echo session_id();?>');
</script>
{/block}