{extend name="base" /} {block name="body"}
<style>
	.layui-row{
		font-size: 14px;
	}
</style>
<div class="layui-tab-brief">
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form form-container" id="myform" method="post" action="{:url('admin/Withdrawal/withdrawal_audit',['id'=>$detail['id']])}"  enctype="multipart/form-data">
            	<div class="layui-container">
            		<div class="layui-row">
            			<div class="layui-col-xs1">
					      	<div class="grid-demo grid-demo-bg1"></di2>
					    </div>
					    <div class="layui-col-xs1">
					      	<div class="grid-demo grid-demo-bg10"></div>
					    </div>
            		</div>
	            	<div class="layui-row">
					    <div class="layui-col-xs2">
					      	<div class="grid-demo grid-demo-bg1">用户名称</div>
					    </div>
					    <div class="layui-col-xs10">
					      	<div class="grid-demo">{$detail.uid|user_name}</div>
					    </div>
					</div>
					<hr>
					<div class="layui-row">
					    <div class="layui-col-xs2">
					      	<div class="grid-demo grid-demo-bg1">用户电话</div>
					    </div>
					    <div class="layui-col-xs10">
					      	<div class="grid-demo">{$detail.uid|mobile}</div>
					    </div>
					</div>
					<hr>
					<div class="layui-row">
					    <div class="layui-col-xs2">
					      	<div class="grid-demo grid-demo-bg1">用户钱包余额</div>
					    </div>
					    <div class="layui-col-xs10">
					      	<div class="grid-demo">{$detail.uid|balance}</div>
					    </div>
					</div>
					<hr>
					<div class="layui-row">
					    <div class="layui-col-xs2">
					      	<div class="grid-demo grid-demo-bg1">币种名称</div>
					    </div>
					    <div class="layui-col-xs10">
					      	<div class="grid-demo">{$currency.alias_name}</div>
					    </div>
					</div>
					<hr>
					<div class="layui-row">
					    <div class="layui-col-xs2">
					      	<div class="grid-demo grid-demo-bg1">代币价格</div>
					    </div>
					    <div class="layui-col-xs10">
					      	<div class="grid-demo">{$currency.price}</div>
					    </div>
					</div>
					<hr>
					<div class="layui-row">
					    <div class="layui-col-xs2">
					      	<div class="grid-demo grid-demo-bg1">代币状态</div>
					    </div>
					    <div class="layui-col-xs10">
					      	<div class="grid-demo">{if condition="$currency.status == 0"}正常{else/}禁用{/if}</div>
					    </div>
					</div>
					<hr>
					<div class="layui-row">
					    <div class="layui-col-xs2">
					      	<div class="grid-demo grid-demo-bg1">提币数量</div>
					    </div>
					    <div class="layui-col-xs10">
					      	<div class="grid-demo">{$detail.cu_num}</div>
					    </div>
					</div>
					<hr>
					<div class="layui-row">
					    <div class="layui-col-xs2">
					      	<div class="grid-demo grid-demo-bg1">手续费</div>
					    </div>
					    <div class="layui-col-xs10">
					      	<div class="grid-demo">{$detail.tb_charge|default='0'}</div>
					    </div>
					</div>
					<hr>
					<div class="layui-row">
					    <div class="layui-col-xs2">
					      	<div class="grid-demo grid-demo-bg1">电子钱包地址</div>
					    </div>
					    <div class="layui-col-xs10">
					      	<div class="grid-demo">{$detail.wallet_addr}</div>
					    </div>
					</div>
					<hr>
					<div class="layui-row">
					    <div class="layui-col-xs2">
					      	<div class="grid-demo grid-demo-bg1">电子钱包二维码</div>
					    </div>
					    <div class="layui-col-xs10">
					      	<div class="grid-demo">{$detail.qrcode_addr}</div>
					    </div>
					</div>
					<hr>
					<div class="layui-row">
					    <div class="layui-col-xs2">
					      	<div class="grid-demo grid-demo-bg1">状态</div>
					    </div>
					    <div class="layui-col-xs10">
						    <div class="grid-demo">
						      	{switch name='$detail.status'}
								    {case value='0'}审核中
								    	<a href="javascript:;" data-id="{$detail.id}" data-url="{:url('admin/Withdrawal/withdrawal_audit',['id'=>$detail['id']])}" data-opt="check" class="elementcheck layui-btn layui-btn-sm layui-btn-danger ajax-delete">审核</a>
								    {/case}
								    {case value='1'}通过审核{/case}
								    {case value='2'}未通过审核{/case}
								    {default /}default
								{/switch}
								
						    </div>
					    </div>
					</div>
					<hr>
					<div class="layui-row">
					    <div class="layui-col-xs2">
					      	<div class="grid-demo grid-demo-bg1">备注</div>
					    </div>
					    <div class="layui-col-xs10">
					      	<div class="grid-demo">
					      		<textarea placeholder="请输入内容" id="txt" name="note" value="{$detail.note}" class="layui-textarea">{$detail.note}</textarea>
					      	</div>
					    </div>
					    <!-- <button class="layui-btn" id="sub">提交</button> -->
					</div>
					<hr>
				</div>
               
                <div class="btable-paged">
                    <div class="layui-main">
                        <div class="formbtngroup">
                            <!-- <button class="layui-btn layui-btn-sm" id="fileUpload">更新</button> -->
                            <button onclick="history.go(-1);return false;" class="layui-btn layui-btn-primary layui-btn-sm">返回</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{/block}
{block name="js"}
	<script type="text/javascript" src="__ADMIN__/js/audit.js"></script>
	<script type="text/javascript">
		
		// $("#sub").click(function(){
	 //        var text=$(".txt");
	 //        console.log(text);
	 //        if(text.val()== ''){
	 //            alert("输入框不能为空");
	 //            return false;
	 //        }
	 //        document.forms[0].submit();
	 //    });

	 //    function ajaxPost(){
	 //        var formData = $("#myform").serialize();
	 //        //serialize() 方法通过序列化表单值，创建 URL 编码文本字符串,这个是jquery提供的方法
	 //        $.ajax({
	 //        	console.log(12);
	 //            type:"post",
	 //            url:"{:url('admin/Withdrawal/withdrawal_audit')}",  //数据传输的控制器方法
	 //            data:formData,//这里data传递过去的是序列化以后的字符串
	 //            success:function(data){
	 //            	console.log(data);
	 //            	if (data.code == 200) {
	 //            		layer.msg(data.msg, {icon: 2, anim: 6, time: 3000});
	 //            	} else {
	 //            		layer.msg(data.msg, {icon: 2, anim: 6, time: 3000});
	 //            	}
	            	
	 //            }
	 //        });
	 //    }
	</script>
{/block}