.user {
	padding: .5rem 0 .95rem 0;
}
.active{
	display: block !important;
}
.zjy_box{
	width: 100%;
	position: relative;
}
.zjy_box .zjy_ul{
	display: flex;
	text-align: center;
	border: 1px solid #fff;
	border-radius:2rem;
	margin: 0 20px .5rem 20px;
	line-height: 1rem;
}
.zjy_box .zjy_ul li{
	flex: 1;
	font-size: .3rem;
	color: #fff;
}
.zjy_box_conten{
	width: 100%;
	height: 100%;
	display: flex;
	color:#fff;	
}
.zjy_box_conten .zjy_box_conten_item{
	flex: 1;
}
.zjy_box_conten .zjy_box_conten_item{
	display: none;
}
.avtive{
	display: block !important;
}
.on{
	background-color:#377df9 ;				
	font-weight: bold;
	border-radius: 2rem;
	transition: all .3s linear; 
}
.zjy_moeny{
	width: 100%;
}
.zjy_table{
	margin: 0 auto;
	text-align: center;
}
table{
	margin: 0 auto;
	text-align: center;
}
th{
	height: 1rem;
	background-color: #404786;
}
td{
	height: .8rem;
	background-color: #5a62af;
	
}
th,td{
	border: 1px solid #fff;
}

/*ss*/
.zjy_box_conten .zjy_box_conten_item .bag-wrap {
	margin: 0 auto;
	width: 85%;
	/*height: 1.25rem;*/
	border-radius: 10px;
	letter-spacing:15px;
	background: linear-gradient(left,#5581f1,#1153fc);
	background: -webkit-linear-gradient(left,#5581f1,#1153fc);
}
.zjy_box_conten .zjy_box_conten_item .bag-wrap .asset {
	font-size: .55rem;
	font-weight: 900;
	text-align: center;
	line-height: 1.25rem;
}
.amount {
	margin-top: 8%;
	
}
.amount span {
	font-size: .35rem;
	font-weight: 900;
	padding-left: 25%;
}
.amount .inp {
	width: 35%;
	height: .55rem;
	border-bottom: .01rem solid #5ff2e5;
	color: #fff;
	font-size: .3rem;
	font-weight: 600;
	text-indent: .1rem;
	-webkit-appearance: none;
    border-radius: 0;
}

.sum {
	margin: 5% auto;
	width: 70%;
	height: 1rem;
	background: #1eb0d4;
	font-size: .45rem;
	font-size: 900;
	text-align: center;
	line-height: 1rem;
	color: #ff9e2a;
	border-radius: 10px;
	letter-spacing: 5px;
	background: linear-gradient(left,#c165dd,#5c27fe);
	background: -webkit-linear-gradient(left,#c165dd,#5c27fe);
}

/*总资产-弹框*/
.assetPopup {
	display: none;
	position: absolute;
	top: 15%;
	left: 4.1%;
	z-index: 5;
	width: 90%;
	height: 9.5rem;
	background: linear-gradient(#1de5e2,#b588f7);
	background: -webkit-linear-gradient(#1de5e2,#b588f7);	
	line-height: .6rem;
	overflow-y: auto;
	border-radius: 8px;
}
.assetPopup .currency {
	font-size: .35rem;
	text-align: center;
}


/*二维码-弹框*/
.code-up {
	display: none;
	position: absolute;
	top: 15%;
	left: 5%;
	z-index: 5;
	width: 90%;
	height: 9.5rem;
	background: linear-gradient(#1de5e2,#b588f7);
	background: -webkit-linear-gradient(#1de5e2,#b588f7);
	border-radius: 8px;
}
.tu {
	margin: 0 auto;
	width: 45%;
}
.tu img {
	width: 100%;
}
.p_text{
	width: 6rem;
    margin: 0 auto;
    background: #0f184f;
    border: 1px solid #4080ff;
    color: #fff;
    border-radius: .06rem;
    padding: .08rem .03rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    word-break: break-word;
    
    
    font-size: .26rem;
}
.code-up .shut {
	position: absolute;
	top: 0;
	right: 1px;
	font-size: .6rem;
}
.code-up .site {
	width: 90%;
	margin: .1rem auto;
	font-size: .35rem;
	height: 2rem;
	text-align: center;
}
#span{
	width: 80%;
	display: block;
	height: 1rem;
	margin: 0 auto;
	word-break: break-word;
	
}
.code-up .notarize {
	margin: .65rem auto;
	width: 50%;
	background: linear-gradient(#ffcb52,#ff7b02);
	background: -webkit-linear-gradient(#ffcb52,#ff7b02);
	border-radius: 5px;
	font-size: .35rem;
	text-align: center;
	line-height: .85rem;
} 

.site .hx span:last-child{
	font-size: .3rem;
}
.clicTK{
	margin-top: 1.2rem;
}
.det {
	position: absolute;
	width: 100%;
	font-size: .35rem;
	font-weight: 900;
	line-height: .7rem;
	letter-spacing: 5px;
	color: #000;
	text-align: center;
	background: linear-gradient(left,#ffcb52,#ff7b02);
	background: -webkit-linear-gradient(left,#ffcb52,#ff7b02);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.assetPopup .iconfont {
	position: absolute;
	top: 2px;
	right: 0;
	font-size: .6rem;
}
/*进度条*/
.loader-container {
  height: 6px;
  width: 44%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #5bd8ff, #ff0000);
  background-image: -moz-linear-gradient(left, #5bd8ff, #ff0000);
  background-image: -o-linear-gradient(left, #5bd8ff, #ff0000);
  background-image: -ms-linear-gradient(left, #5bd8ff, #ff0000);
  background-image: linear-gradient(left, #5bd8ff, #ff0000);
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 3px 0 0 3px;
}
.loader-container:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-top: -0.5em;
  margin-right: -1em;
  background-image: -webkit-linear-gradient(top, #fff,#fff);
  background-image: -moz-linear-gradient(top, #fff,#fff);
  background-image: -o-linear-gradient(top, #fff, #fff);
  background-image: -ms-linear-gradient(top, #000000, #fff);
  background-image: linear-gradient(top, #fff, #fff);
}
.loader-container.done:after {
  background: Red;
}
.run .runner {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 0%;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, #1de5e2,#b588f7);
  background-image: -moz-linear-gradient(top, #1de5e2,#b588f7);
  background-image: -o-linear-gradient(top, #1de5e2,#b588f7);
  background-image: -ms-linear-gradient(top, #1de5e2,#b588f7);
  background-image: linear-gradient(top, #1de5e2,#b588f7);
  animation: loader 2.5s linear;
}
.meter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: .2em;
  margin-top: .5em;
  color: #ff0000;
  animation: meter 2s linear;
  text-shadow: 0 -1px 0 #333333;
}
.meter:after {
  content: "%";
}
@keyframes loader {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-moz-keyframes loader{
   0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-ms-keyframes loader{
	0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-webkit-keyframes loader{
   0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes meter {
  0% {
    color: #5bd8ff;
  }
  100% {
    color: #ff0000;
  }
}
@-moz-keyframes meter{
	0% {
    color: #5bd8ff;
  }
  100% {
    color: #ff0000;
  }
}
@-ms-keyframes meter{
	0% {
    color: #5bd8ff;
  }
  100% {
    color: #ff0000;
  }
}
@-webkit-keyframes meter{
	0% {
    color: #5bd8ff;
  }
  100% {
    color: #ff0000;
  }
}
/* Decoration */

footer {
  font-family: 'Give You Glory', cursive;
  position: absolute;
  bottom: 2em;
  right: 1em;
  color: #777;
  font-size: 1.2em;
}
footer a {
  text-decoration: none;
  color: #777;
  border: none;
}
#wrapper {
  width: 6rem;
  margin: 0 auto;
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/*弹框-阴影*/
.shadow {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}


.wtf_xiala {height: 0.50rem;border: 0.02rem solid #ccc;padding: 0.13rem;width: 88%;margin: 0 0.3rem;margin-top: 0.5rem;border-radius: 0.08rem;line-height: 0.5rem;}
.wtf_xiala p {display: inline-block;text-align: left;font-size: 0.3rem;color: #dadbe4;}
.wtf_xiala img{width: 0.3rem;height: 0.3rem;padding-top :0.1rem}

.wtf_item2_div{height: 0.2rem;margin: 0.4rem;}
.wtf_item2{padding: 0.1rem 0.2rem;background: #242e65;margin: 0.3rem 0.5rem;overflow-y: scroll;}

.wtf_item2_div p{display: inline-block;}
.wtf_item2_div p:nth-child(1){font-size: 0.24rem;color: #6a86c7;float: left;}
.wtf_item2_c p:nth-child(1){font-size: 0.24rem;color: #fff;}
.wtf_item2_c p:nth-child(2){font-size: 0.24rem;color: #6a86c7;margin-left: 0.2rem;}
.wtf_item2_c{float: right;}
.termBox {
	width: 100%;
	height: auto;
}
.termBox span{display: block}
.termBox span:nth-child(1){width:40%;text-align: right;float: left;}
.termBox span:nth-child(2){width:60%;text-align: left;float: left;}

/*<!--总投资-弹框-->*/
.thead-zp {
	padding-top: .7rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.thead-zp ul{
    height: 0.6rem;
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.3rem;
    color: #fff;
}
.thead-zp ul li{
    width: 25.5%;
    text-align: center;
}

.tbody-zp ul li{
    height: 0.6rem;
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 0.26rem;
}
.tbody-zp ul li div{
    width: 25.5%;
    text-align: center;
}

/*付款*/
.payment{
	width: 100%;
	
}
.payment h3{
	padding: .5rem;
}
.payment_cont {
	background: #0f184f;
}
.payment .wq_fa{
	display: inline-block;
	width: .4rem;
	height: .4rem;
	border: 1px solid #2b53b2;
	border-radius: 50%;
	vertical-align: bottom;
	margin-right: .2rem;
}
.payment_active{
	display:inline-block;
	width: .3rem;
	height: .3rem;
	background: #4080ff;
	border-radius: 50%;
	vertical-align: bottom;
}
.payment .payment_ul{
	margin: 0 0 3%;
	display: flex;
	text-align: center;
}
.payment .payment_ul li {
	flex: 1;
}
.payment_cont_item{
	display: none;
}
.fshe{
	padding: 3% 5%;
    color: #7c9ee1;
    font-size: .35rem;
    line-height: .85rem;
	
}
.payment_cont_item {
	margin: .3rem 0;
}
.payment_cont_item .payment_cont_text textarea{
	width: 90%;
	height: 1rem;
	margin: 0 auto;
	display: block;
	background: #0f184f;
	color: #fff;
	border-radius:.2rem ;
}
.payment_cont_sox{
	display: flex;
	margin:.7rem .5rem ;
}
.payment_cont_qb{
	flex: 1;
	line-height: .8rem;
	border: 1px solid #4080ff;
	border-radius:.2rem ;
	text-align: center;
	margin:0 .2rem;
}
.payment_cont_sc{
	width:2rem;
	line-height: .5rem;
	text-align: center;
	margin-left: .5rem;
	border: 1px solid #4080ff;
	border-radius:.2rem ;
}
.payment_cont_wz{
	width: 90%;
	color: #c8932b;
	margin: .3rem auto;
	text-align: center;
}
.payment_cont_img{
	width: .4rem;
	height: .4rem;
	display: inline-block;
	vertical-align: middle;
}
/*付款结束*/

/*账户余额*/
.am .bonus {
	padding: 3% 0 0 5%;
	color: #7c9ee1;
	font-size: .35rem;
	line-height: .75rem;
}
.am .t-inp-wrap {
	padding: 5% 0;
	width: 100%;
	background: #0f184f;
}
.am .t-inp-wrap .t-inp {
	margin: 0 auto;
	width: 90%;	
	border: .01rem solid #2d3b7c;
	border-radius: 5px;
}
.am .t-inp-wrap .t-inp .number {
	padding: 2%;
	width: 85%;
	height: .6rem;
	color: #fff;
}

/*二维码弹框*/
.payment_wenma{
	position: relative;
	width: 70%;
	height: 6rem;
	background-color:#070a41;
	position: absolute;
	top: 76%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 1px solid #5b84fa;
	border-radius:.3rem ;
	z-index: 66;
	display: none;
}

.qb_bg{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 33;
	display: none;
	
}
.payment_wenma_sc{
	display: block;
	position: absolute;
	top: .1rem;
	right: .1rem;
	z-index: 1;	
	width: .5rem;
	height: .5rem;
	/*float: right;*/
}
.payment_wenma_Two {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;	
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}